@{
    @model IList<Model.DuiZhang>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .bootstrap-select {
            width: 100%;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(5)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            //$(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(6)").addClass("active")

            $("#myTable").bootstrapTable({
                url: '/DuiZhang/GetData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbar: "#toolbar",
                toolbarAlign: 'left',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '销售发票对账',//下载文件名称
                },
                columns: [
                    {
                        checkbox: true
                    }, {
                        field: 'no',
                        title: '编号',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return index + 1;
                        },
                        footerFormatter: function () {
                            return "汇总";
                        }
                    }, {
                        field: 'dz_index',
                        title: '对账单号',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'company_name',
                        title: '客户名称',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'dui_time',
                        title: '对账时间',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.dui_time.split('T')[0];
                        }
                    }, {
                        field: 'dui_num',
                        title: '订单总数',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.dui_num.toFixed(2);
                        },
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.dui_num;
                            });
                            return count.toFixed(2);
                        }
                    }, {
                        field: 'dui_all_price',
                        title: '订单总价',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.dui_all_price.toFixed(2);
                        },
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.dui_all_price;
                            });
                            return count.toFixed(2);
                        }
                    }, {
                        field: 'edit',
                        title: '对账单号详情',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var result = "";
                            result += "<button class='btn btn-info' onclick=\"getPickerList('" + row.dz_index + "')\">查看详情</button>";
                            return result;
                        }
                    }]
            });

            $("#dz_list").bootstrapTable({
                url: '/DuiZhang/GetPickerList?DZ_Index=""',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 10,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                showFooter: true,
                showExport: false, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '销售发票对账',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function () {
                        return "汇总";
                    }
                }, {
                    field: 'dz_index',
                    title: '对账单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_name',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_order_index',
                    title: '客户订单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_name',
                    title: '名称规格',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'unit',
                    title: '单位',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'dui_num',
                    title: '数量',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.dui_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'dui_price',
                    title: '单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'dui_all_price',
                    title: '金额',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.dui_all_price;
                        });
                        return count.toFixed(2);
                    }
                }]
            });

            $("#picker_list").bootstrapTable({
                url: '/DuiZhang/GetPickerList?DZ_Index=""',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 10,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                showFooter: true,
                showExport: false, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '销售发票对账',//下载文件名称
                },
                columns: [{
                    checkbox: true
                },
                    {
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function () {
                        return "汇总";
                    }
                }, {
                        field: 'id',
                        title: 'id',
                        align: 'center',
                        hidden: true
                    }, {
                    field: 'dz_index',
                    title: '对账单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_name',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_order_index',
                    title: '客户订单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_name',
                    title: '名称规格',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'unit',
                    title: '单位',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'dui_num',
                    title: '数量',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.dui_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'dui_price',
                    title: '单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'dui_all_price',
                    title: '金额',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.dui_all_price;
                        });
                        return count.toFixed(2);
                    }
                }]
            });
        });

        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }
        }

        function getPickerList(dz_index_flag) {
            var DZ_Index = "";
            if (dz_index_flag != "0") {
                DZ_Index = dz_index_flag
            } else {
                var duizhangIdList = $("#myTable").bootstrapTable("getSelections");
                var duizhangIndex = new Array();
                for (var i = 0; i < duizhangIdList.length; i++) {
                    duizhangIndex.push(duizhangIdList[i].dz_index);
                }
                DZ_Index = duizhangIndex.join(',');
            }
            if (DZ_Index == "") {
                swal("请先勾选对账单号！", "请重新操作！", "error");
            } else {
                if (dz_index_flag != "0") {
                    $("#dz_list").bootstrapTable('refresh', { url: '/DuiZhang/GetPickerList?DZ_Index=' + DZ_Index });
                    $('#detailDZ').modal();
                } else {
                    $("#picker_list").bootstrapTable('refresh', { url: '/DuiZhang/GetPickerList?DZ_Index=' + DZ_Index });
                    $('#myModalList').modal();
                }

            }

        }

        function putInvoice() {
            var duizhangIdList = $('#picker_list').bootstrapTable('getSelections');
            var invoice_index = document.getElementById("invoice_index").value;

            if (duizhangIdList.length == 0) {
                swal("请先勾选需要关联的数据！", "", "error");
                return;
            }
            if (invoice_index == "" || invoice_index == null || invoice_index == undefined) {
                swal("请先选择关联的发票号", "", "error");
                return;
            }

            var duizhangId = new Array();
            for (var i = 0; i < duizhangIdList.length; i++) {
                duizhangId.push(duizhangIdList[i].id);
            }
            var DZ_Id = duizhangId.join(',');
            //console.log(duizhangId)
            swal({
                title: "是否关联此发票?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是",
                cancelButtonText: "否",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/DuiZhang/PutInvoice",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                DZ_Id: DZ_Id, invoice_index: invoice_index
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "执行成功!", text: "", type: "success" },
                                        function () { Search(); });

                                }
                                else {
                                    swal("执行失败！", "", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败！", "", "error");
                            }
                        });
                    }
                    else {
                        swal("操作已终止 !", "该记录已保留 !", "error");
                    }
                });
        }
        function Search() {
            var dz_start_time = $("#dz_start_time").val();
            var dz_end_time = $("#dz_end_time").val();

            var dz_index = $("#dz_index").val();
            var deliver_company_head = $("#deliver_company_head").val();

            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();

            var searchUrl = "/DuiZhang/GetData?dz_start_time=" + dz_start_time + "&dz_end_time=" + dz_end_time
                + "&dz_index=" + dz_index + "&deliver_company_head=" + deliver_company_head
                + "&day=" + day + "&month=" + month + "&year=" + year;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">销售发票对账</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>对账单号：</label>
                                        <input id="dz_index" name="dz_index" type="text" class="form-control" style="width:220px" value="@ViewBag.dz_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="deliver_company_head" name="deliver_company_head" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.deliver_company_head) { <text> selected</text>}}>
                                                    @objList[i].company_name
                                                </!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>对账开始时间：</label>
                                        <input id="dz_start_time" name="dz_start_time" type="text" autocomplete="off" class="form-control" style="width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.dz_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>对账结束时间：</label>
                                        <input id="dz_end_time" name="dz_end_time" type="text" autocomplete="off" class="form-control" style="width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.dz_end_time" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（对账时间）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="关联发票" class="btn btn-primary" style="width:80px" onclick="getPickerList('0')" />
                                    </div>
                                </div>
                            </div>
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    <div class="modal fade" id="detailDZ" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalDZ">对账单详情</h4>
                </div>
                <table class="table table-responsive table-hover " id="dz_list">
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalList">已勾选列表</h4>
                </div>
                <div class="modal-body" style="padding:10px;">
                    <div class="form-group">
                        <label>发票号</label>
                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="invoice_index" name="invoice_index">
                            <option value=""></option>
                            @{
                                InvoiceManager IM = new InvoiceManager();
                                List<Invoice> invoices = IM.SelectAllInvoice();
                                if (invoices.Count > 0)
                                {
                                    for (int i = 0; i < invoices.Count; i++)
                                    {
                                        <!option value="@invoices[i].invoice_index">@invoices[i].invoice_index</!option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <table class="table table-responsive table-hover" id="picker_list">
                    </table>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="putInvoice()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.DuiZhang.parentNode.parentNode.classList.add("active");
                    _self.$refs.DuiZhang.parentNode.parentNode.classList.add("open");
                    _self.$refs.DuiZhang.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


