@{
    @model Model.Sale;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">

        $(function () {
            $(".sidebar ul li:nth-of-type(5)").addClass("active open")
            $(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(1)").addClass("active")
            $('#submit').click(function () {
                var seq_id = $('#seq_id').val();
                var deliver_index = $('#deliver_index').val();
                var remain_num = $('#remain_num').val();
                var real_num = $('#real_num').val();
                var deliver_price = $('#deliver_price').val();
                var deliver_all_price = $('#deliver_all_price').val();
                var remark = $('#remark').val();
                if (parseInt(remain_num) < parseInt(real_num)) {
                    swal("送货数量超过剩余数量！", "", "error");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/SaleSeq/EditHandle",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: {
                            seq_id: seq_id, deliver_index: deliver_index, real_num: real_num,
                            deliver_price: deliver_price, deliver_all_price: deliver_all_price, remark: remark
                        },
                        success: function (msg) {
                            if (msg == "Success") {
                                swal({ title: "执行成功!", text: "", type: "success" },
                                    function () { window.location.href = '/Sale/Edit?deliver_index=@ViewBag.deliver_index';});

                            }
                            else {
                                swal("执行失败，请检查提交文件内容！", "", "error");
                            }
                        },
                        error: function (msg) {
                            swal("数据获取失败！", "", "error");
                        }
                    });
                }

            });
        });
        function getProductPrice() {
            var real_num = $('#real_num').val()
            var deliver_price = $('#deliver_price').val()
            if (real_num >= 0 && deliver_price >= 0) {
                $.ajax({
                    type: "POST",
                    url: "/SaleSeq/GetProductPrice",
                    data: { real_num: real_num, deliver_price: deliver_price },
                    success: function (msg) {
                        $('#price_div').html(msg);
                    },
                    error: function (msg) {
                        swal("获取价格失败！", "", "error");
                    }
                });
            }
        }


    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li><a href="/Sale/Index">销售送货开单</a></li>
                            <li><a href="/Sale/Edit?deliver_index=@ViewBag.deliver_index">送货详情</a></li>
                            <li class="active">
                                修改送货单
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>
                                @if (ViewBag.deliver_index != null)
                                {<text>修改送货单</text> }
                            else
                            { <text>新增送货单</text>}

                            </h4>
                        </div>

                        <div class="card-body">

                            <div class="basic-form">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="deliver_index" name="deliver_index" value="@ViewBag.deliver_index" readonly />
                                            <input type="hidden" class="form-control" id="seq_id" name="seq_id" value="@ViewBag.seq_id" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">订单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="order_index" name="order_index" value="@ViewBag.order_index" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">名称规格</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="order_name" name="order_name" value="@ViewBag.order_name" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">剩余数量</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="remain_num" name="remain_num" value="@(ViewBag.remain_num+Model.real_num)" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">单价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="order_price" name="order_price" value="@ViewBag.order_price" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">总价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="order_all_price" name="order_all_price" value="@ViewBag.order_all_price" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货数量</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="real_num" name="real_num" value="@Model.real_num" onchange="getProductPrice()"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货单价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="deliver_price" name="deliver_price" value="@Model.deliver_price" onchange="getProductPrice()" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货总价</label>
                                        <div class="col-sm-4" id="price_div">
                                            <input type="text" class="form-control" id="deliver_all_price" name="deliver_all_price" value="@Model.deliver_all_price"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">备注</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="remark" name="remark" value="@Model.remark" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-5">
                                            <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html >


