@{
    @model Model.Invoice;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        var TempArr = [];//存储option

        $(function () {
            //$(".sidebar ul li:nth-of-type(6)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(6) ul li:nth-of-type(1)").addClass("active")



            $('#submit').click(function () {
                var id = $('#id').val();
                var company_name = $('#company_name').val();
                var invoice_company = $('#invoice_company').val();
                var invoice_type = $('#invoice_type').val();
                var invoice_index = $('#invoice_index').val();
                var invoice_time = $('#invoice_time').val();
                var invoice_price = $('#invoice_price').val();
                var invoice_real_price = $('#invoice_real_price').val();
                var invoice_prepay = $('#invoice_prepay').val();

                var remark = $('#remark').val();

                if (company_name == "" || invoice_company == "" || invoice_type == "" || invoice_index == "" || invoice_time == ""
                    || invoice_price == "") {
                    swal("信息不能为空！", "请将信息填充完整！", "error");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Invoice/EditHandle",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: {
                            id: id, company_name: company_name, invoice_company:invoice_company,invoice_type: invoice_type, invoice_index: invoice_index, invoice_time: invoice_time,
                            invoice_price: invoice_price, invoice_real_price: invoice_real_price, invoice_prepay: invoice_prepay, remark: remark
                        },
                        success: function (msg) {
                            if (msg == "Success") {

                                var start_time = $('#search_start_time').val();
                                var end_time = $('#search_end_time').val();
                                var invoice_index = $('#search_invoice_index').val();
                                var company_name = $('#search_company_name').val();
                                var invoice_company = $('#search_invoice_company').val();
                                var day = $('#search_day').val();
                                var month = $('#search_month').val();
                                var year = $('#search_year').val();
                                var searchUrl = "/Invoice/Index?company_name=" + company_name + "&invoice_index=" + invoice_index + "&start_time=" + start_time
                                    + "&end_time=" + end_time + "&day=" + day + "&month=" + month + "&year=" + year + "&invoice_company=" + invoice_company;
                                swal({ title: "执行成功!", text: "", type: "success" },
                                    function () { window.location.href = searchUrl; });

                            }
                            else if (msg == "Fail") {
                                swal("执行失败！", "", "error");
                            }
                            else {
                                swal("型号已存在！", "", "error");
                            }
                        },
                        error: function () {
                            swal("数据获取失败！", "", "error");
                        }
                    });
                }

            });
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Invoice/Index">财务管理</a></li>
                            <li><a href="/Invoice/Index">发票管理</a></li>
                            <li class="active">
                                发票录入
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">

            @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>
                                    发票录入
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <div class="form-horizontal">
                                        <input type="hidden" class="form-control" id="id" name="id" value="@if (Model!=null) { @Model.id; } " />

                                        <input type="hidden" id="search_start_time" value="@ViewBag.start_time" />
                                        <input type="hidden" id="search_end_time" value="@ViewBag.end_time" />
                                        <input type="hidden" id="search_invoice_index" value="@ViewBag.invoice_index" />
                                        <input type="hidden" id="search_company_name" value="@ViewBag.search_company_name" />
                                        <input type="hidden" id="search_invoice_company" value="@ViewBag.invoice_company" />
                                        <input type="hidden" id="search_day" value="@ViewBag.day" />
                                        <input type="hidden" id="search_month" value="@ViewBag.month" />
                                        <input type="hidden" id="search_year" value="@ViewBag.year" />

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">客户名称</label>
                                            <div class="col-sm-3">
                                                <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" @if (Model != null) { <text> disabled</text>}>
                                                    <option value=""></option>
                                                    @{
                                                        CompanyManager CM = new CompanyManager();
                                                        List<Company> sList = CM.SelectAll(0);
                                                        if (sList.Count > 0)
                                                        {
                                                            for (int i = 0; i < sList.Count; i++)
                                                            {
                                                                <!option value="@sList[i].company_name" @if (Model != null) { if (sList[i].company_name == ViewBag.company_name) { <text> selected</text>} }>@sList[i].company_name</!option>
                                                            }
                                                        }
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">开票公司</label>
                                            <div class="col-sm-3">
                                                <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="invoice_company" name="invoice_company">
                                                    <option value=""></option>
                                                    @{
                                                        SettingManager SettingM = new SettingManager();
                                                        List<Setting> settings = SettingM.SelectConfigList(9);
                                                        if (settings.Count > 0)
                                                        {
                                                            for (int i = 0; i < settings.Count; i++)
                                                            {
                                                                <!option value="@settings[i].config_list" @if (Model != null) { if (settings[i].config_list == Model.invoice_company) { <text> selected</text>} }>@settings[i].config_list</!option>
                                                            }
                                                        }
                                                    }
                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">发票号</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_index" name="invoice_index" style="width:220px" value="@if (Model!=null) { @Model.invoice_index; }" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">发票类型</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="invoice_type" name="invoice_type" style="width:220px">
                                                    <option value=""></option>
                                                    <!option value="0" @if (Model != null) { if (Model.invoice_type == 0) { <text> selected</text>} }>普通发票</!option>
                                                    <!option value="1" @if (Model != null) { if (Model.invoice_type == 1) { <text> selected</text>} }>增值税专用发票</!option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">开票日期</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_time" name="invoice_time" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@if (Model!=null) { @Model.invoice_time.ToString("yyyy-MM-dd"); }" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">应付金额(发票金额)</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_price" name="invoice_price" style="width:220px" placeholder="0" value="@if (Model!=null) { @Model.invoice_price; }" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">已付金额</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_real_price" name="invoice_real_price" style="width:220px" placeholder="0" value="@if (Model!=null) { @Model.invoice_real_price; }" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">客户预付款</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_prepay" name="invoice_prepay" style="width:220px" placeholder="0" value="@if (Model!=null) { @Model.invoice_prepay; }" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">备注</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="remark" name="remark" style="width:220px" value="@if (Model!=null) { @Model.remark; }" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-5" style="margin-left:38%">
                                                <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /# card -->
                    </div><!-- /# column -->
                </div><!-- /# row -->
            }
        </div>
    </div><!-- /# container-fluid -->
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.Invoice.parentNode.parentNode.classList.add("active");
                    _self.$refs.Invoice.parentNode.parentNode.classList.add("open");
                    _self.$refs.Invoice.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


