@{
    @model Model.Invoice;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/js/dist/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/js/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>

    <script type="text/javascript">
        var TempArr = [];//存储option

        $(function () {
            $(".sidebar ul li:nth-of-type(6)").addClass("active open")
            $(".sidebar ul li:nth-of-type(6) ul li:nth-of-type(1)").addClass("active")
            $('#submit').click(function () {
                var id = $('#id').val();
                var company_name = $('#company_name').val();
                var invoice_type = $('#invoice_type').val();
                var invoice_index = $('#invoice_index').val();
                var invoice_time = $('#invoice_time').val();
                var invoice_price = $('#invoice_price').val();
                var invoice_ratio = $('#invoice_ratio').val();
                var invoice_all_price = $('#invoice_all_price').val();
                var pay_type = $('#pay_type').val();
                var remark = $('#remark').val();

                if (company_name == "" || invoice_type == "" || invoice_index == "" || invoice_time == ""
                    || invoice_price == "" || invoice_ratio == "" || invoice_all_price == "" || pay_type == "") {
                    swal("信息不能为空！", "请将信息填充完整！", "error");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Invoice/EditHandle",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: {
                            id: id, company_name:company_name,invoice_type: invoice_type, invoice_index: invoice_index, invoice_time: invoice_time,
                            invoice_price: invoice_price, invoice_ratio: invoice_ratio, invoice_all_price: invoice_all_price, pay_type: pay_type, remark: remark
                        },
                        success: function (msg) {
                            if (msg == "Success") {
                                swal({ title: "执行成功!", text: "", type: "success" },
                                    function () { window.location.href = '/Invoice/Index'; });

                            }
                            else if (msg == "Fail") {
                                swal("执行失败！", "", "error");
                            }
                            else {
                                swal("型号已存在！", "", "error");
                            }
                        },
                        error: function () {
                            swal("数据获取失败！", "", "error");
                        }
                    });
                }

            });
        });

        function getPriceList() {
            var invoice_price = $('#invoice_price').val()
            var invoice_ratio = $('#invoice_ratio').val()
            if (invoice_price >= 0 && invoice_ratio >= 0) {
                $.ajax({
                    type: "POST",
                    url: "/Invoice/GetPriceList",
                    data: { invoice_price: invoice_price, invoice_ratio: invoice_ratio },
                    success: function (msg) {
                        $('#price_div').html(msg);
                    },
                    error: function (msg) {
                        swal("获取规格失败！", "请重新操作！", "error");
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Invoice/Index">财务管理</a></li>
                            <li><a href="/Invoice/Index">发票管理</a></li>
                            <li class="active">
                                发票录入
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">

            @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>
                                    发票录入
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <div class="form-horizontal">
                                        <input type="hidden" class="form-control" id="id" name="id" value="@if (Model!=null) { @Model.id; } " />
                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">客户名称</label>
                                            <div class="col-sm-3">
                                                <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name">
                                                    <option value=""></option>
                                                    @{
                                                        CompanyManager CM = new CompanyManager();
                                                        List<Company> sList = CM.SelectAll(0);
                                                        if (sList.Count > 0)
                                                        {
                                                            for (int i = 0; i < sList.Count; i++)
                                                            {
                                                                <!option value="@sList[i].company_name" @if (Model != null) { if (sList[i].company_name == ViewBag.company_name) { <text> selected</text>} }>@sList[i].company_name</!option>
                                                            }
                                                        }
                                                    }
                                                </select>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">发票号</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_index" name="invoice_index" style="width:220px" value="@if (Model!=null) { @Model.invoice_index; } " />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">发票类型</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="invoice_type" name="invoice_type" style="width:220px">
                                                    <option value=""></option>
                                                    <!option value="0" @if (Model != null) { if (Model.invoice_type == 0) { <text> selected</text>} }>普通发票</!option>
                                                    <!option value="1" @if (Model != null) { if (Model.invoice_type == 1) { <text> selected</text>} }>增值税专用发票</!option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">开票日期</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_time" name="invoice_time" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@if (Model!=null) { @Model.invoice_time.ToString("yyyy-MM-dd"); }" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">金额</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_price" name="invoice_price" style="width:220px" value="@if (Model!=null) { @Model.invoice_price; }" placeholder="0" onchange="getPriceList()" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">税额</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="invoice_ratio" name="invoice_ratio" style="width:220px" value="@if (Model!=null) { @Model.invoice_ratio; }" placeholder="0" onchange="getPriceList()" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">价税统计</label>
                                            <div class="col-sm-4" id="price_div">
                                                <input type="text" class="form-control" id="invoice_all_price" name="invoice_all_price" style="width:220px" placeholder="0" value="@if (Model!=null) { @Model.invoice_all_price; }" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">付款方式</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" id="pay_type" name="pay_type" style="width:220px">
                                                    <option value=""></option>
                                                    <!option value="0" @if (Model != null) { if (Model.pay_type == 0) { <text> selected</text>} }>转账</!option>
                                                    <!option value="1" @if (Model != null) { if (Model.pay_type == 1) { <text> selected</text>} }>现金</!option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">备注</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="remark" name="remark" style="width:220px" value="@if (Model!=null) { @Model.remark; }" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-5" style="margin-left:38%">
                                                <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /# card -->
                    </div><!-- /# column -->
                </div><!-- /# row -->
            }





        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


