@{
    @model IList<Model.Invoice>
    @using Model;
    @using BLL;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(6)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(6) ul li:nth-of-type(1)").addClass("active");

            var start_time = $('#search_start_time').val();
            var end_time = $('#search_end_time').val();
            var invoice_index = $('#search_invoice_index').val();
            var company_name = $('#search_company_name').val();
            var invoice_company = $('#search_invoice_company').val();
            var day = $('#search_day').val();
            var month = $('#search_month').val();
            var year = $('#search_year').val();

            var searchUrl = "/Invoice/GetData?company_name=" + company_name + "&invoice_index=" + invoice_index + "&start_time=" + start_time
                + "&end_time=" + end_time + "&day=" + day + "&month=" + month + "&year=" + year + "&invoice_company=" + invoice_company;
            $("#myTable").bootstrapTable({
                url: searchUrl,
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbar: '#toolbar',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '已开发票记录',//下载文件名称
                },
                columns: [{
                    checkbox: true

                }, {
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'company_name',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'invoice_company',
                    title: '开票公司',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'invoice_index',
                    title: '发票号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'invoice_type',
                    title: '发票类型',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (row.invoice_type == 0) {
                            return "普通发票";
                        } else {
                            return "增值税专用发票";
                        }
                    }
                }, {
                    field: 'invoice_time',
                    title: '开票日期',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.invoice_time.split('T')[0];
                    }
                }, {
                    field: 'invoice_price',
                    title: '应付金额',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.invoice_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'invoice_real_price',
                    title: '已付金额',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.invoice_real_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'unnum',
                    title: '未付金额',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var res = row.invoice_price - row.invoice_real_price;
                        return res;
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.invoice_price - item.invoice_real_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'invoice_prepay',
                    title: '客户预付款',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.invoice_prepay;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'remark',
                    title: '备注',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'edit',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var result = "";
                        result += "<input type='button' class='btn btn-primary' onclick='Edit(" + row.id + ")' value='编辑' />";
                        result += "<span style='margin:5px;'></span>";
                        result += "<input type='button' class='btn btn-primary' onclick=\"deleteTiShi(" + row.id + ")\" value='删除' />";
                        return result;
                    }
                }
                ]
            });

        });

        function Edit(id) {
            var companyNameList = $("#company_name").val();
            var company_name = companyNameList.join(',');
            var invoice_index = $("#invoice_index").val();
            var invoice_company = $("#invoice_company").val();

            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();

            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();
            window.location.href = "/Invoice/Edit?id=" + id + "&company_name=" + company_name + "&invoice_index=" + invoice_index + "&start_time=" + start_time
                + "&end_time=" + end_time + "&day=" + day + "&month=" + month + "&year=" + year + "&invoice_company=" + invoice_company;
        }

        function Search() {
            var companyNameList = $("#company_name").val();
            var company_name = companyNameList.join(',');
            var invoice_index = $("#invoice_index").val();
            var invoice_company = $("#invoice_company").val();

            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();

            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();

            var searchUrl = "/Invoice/GetData?company_name=" + company_name + "&invoice_index=" + invoice_index + "&start_time=" + start_time
                + "&end_time=" + end_time + "&day=" + day + "&month=" + month + "&year=" + year + "&invoice_company=" + invoice_company;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }

        function confirmTiShi() {
            var pay_type = $('#pay_type').val();
            var confirm_time = $('#confirm_time').val();
            var id = $('#duizhang_id').val();
            if (pay_type == "" || confirm_time == "") {
                swal("信息不能为空！", "", "error");
            }
            else {
                swal({
                    title: "确定对账 ?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                    closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: "POST",
                                url: "/Invoice/Confirm?id=" + id + "&pay_type=" + pay_type + "",
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                data: {
                                    id: id, pay_type: pay_type, confirm_time: confirm_time
                                },
                                success: function (msg) {
                                    if (msg == "Success") {
                                        swal({ title: "对账成功 !", text: "", type: "success" },
                                            function () { window.location.href = '/Invoice/Index'; });
                                    }
                                    else {
                                        swal("执行失败 !", "该记录已保留 !", "error");
                                    }
                                },
                                error: function (msg) {
                                    swal("数据获取失败 !", "该记录已保留 !", "error");
                                }
                            });
                        }
                        else {
                            swal("已取消 !", "该记录已保留 !", "error");
                        }
                    });
            }
        }

        function deleteTiShi(id) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/Invoice/Del?id=" + id + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                id: id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { window.location.href = '/Invoice/Index'; });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }

        }

        function duiZhang() {
            var pickList = $('#myTable').bootstrapTable('getSelections');
            console.log(pickList)
            if (pickList.length == 0) {
                swal("请先选择操作的发票！", "", "error");
                return;
            }
            var submitId = [];
            var num = 0;
            for (var i = 0; i < pickList.length; i++) {
                if (pickList[i].invoice_price > pickList[i].invoice_real_price) {
                    swal("金额未付全，不能确认付款！", "发票号为：" + pickList[i].invoice_index, "error");
                    return;
                } else {
                    submitId.push(pickList[i].id);
                    num++;
                }
            }
            if (num == pickList.length) {
                $("#myModal").modal();
                console.log(submitId)
                var id = submitId.join(',');
                document.getElementById("duizhang_id").value = id;
            }

        }

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Invoice/Index">财务管理</a></li>
                            <li class="active">已开发票记录</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <input type="hidden" id="search_start_time" value="@ViewBag.start_time" />
                                <input type="hidden" id="search_end_time" value="@ViewBag.end_time" />
                                <input type="hidden" id="search_invoice_index" value="@ViewBag.invoice_index" />
                                <input type="hidden" id="search_company_name" value="@ViewBag.company_name" />
                                <input type="hidden" id="search_invoice_company" value="@ViewBag.invoice_company" />
                                <input type="hidden" id="search_day" value="@ViewBag.day" />
                                <input type="hidden" id="search_month" value="@ViewBag.month" />
                                <input type="hidden" id="search_year" value="@ViewBag.year" />

                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px" multiple>
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    string[] result = { };
                                                    if (!string.IsNullOrEmpty(ViewBag.company_name))
                                                    {
                                                        result = ViewBag.company_name.Split(",");
                                                    }
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {

                                                        <!option value="@objList[i].company_name" @if (result.Length > 0) { for (int j = 0; j < result.Length; j++) { if (objList[i].company_name == result[j]) { <text> selected</text>}} }>
                                                        @objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>发票号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="invoice_index" name="invoice_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                InvoiceManager IM = new InvoiceManager();
                                                List<Invoice> invoiceList = IM.SelectAll(0, "2001-01-01", "2222-01-01", "0001-01-01", "2222-01-01");
                                                if (invoiceList.Count > 0)
                                                {
                                                    for (int i = 0; i < invoiceList.Count; i++)
                                                    {
                                                        <!option value="@invoiceList[i].invoice_index" @if (invoiceList[i].invoice_index == ViewBag.invoice_index) { <text> selected</text>}>
                                                        @invoiceList[i].invoice_index</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>开票公司：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="invoice_company" name="invoice_company">
                                            <option value=""></option>
                                            @{
                                                SettingManager SettingM = new SettingManager();
                                                List<Setting> settings = SettingM.SelectConfigList(9);
                                                if (settings.Count > 0)
                                                {
                                                    for (int i = 0; i < settings.Count; i++)
                                                    {
                                                        <!option value="@settings[i].config_list" @if (settings[i].config_list == ViewBag.invoice_company) { <text> selected</text>}>
                                                        @settings[i].config_list</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（开票日期）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                    {
                                        <div class="form-group">
                                            <input type="button" value="新增" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/Invoice/Edit'" />

                                        </div>
                                    }
                                    <button class='btn btn-primary' onclick='duiZhang()'>确认付款</button>
                                </div>

                            </div>

                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:30%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">对账</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="duizhang_id">
                    <div class="form-group">
                        <label for="txt_departmentname">付款方式</label>
                        <select class="form-control" id="pay_type" name="pay_type">
                            <option value=""></option>
                            <option value="0">现金</option>
                            <option value="1">银行转账</option>
                            <option value="2">承兑</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txt_parentdepartment">付款时间</label>
                        <input type="text" id="confirm_time" name="confirm_time" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" onclick="confirmTiShi()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.Invoice.parentNode.parentNode.classList.add("active");
                    _self.$refs.Invoice.parentNode.parentNode.classList.add("open");
                    _self.$refs.Invoice.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


