@{
    @model IList<Model.Setting>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">

        $(function () {
            //$(".sidebar ul li:nth-of-type(8)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(8) ul li:nth-of-type(1)").addClass("active")

        });     

        function Add(type) {
            if (type == 1) {
                document.getElementById("myEditLabel").innerHTML = "新增物品单位";
            } else if (type == 2) {
                document.getElementById("myEditLabel").innerHTML = "新增物品名称";
            } else if (type ==6 ) {
                document.getElementById("myEditLabel").innerHTML = "新增出货公司抬头";
            } else if (type == 10) {
                document.getElementById("myEditLabel").innerHTML = "新增物料名称";
            }
            else {
                document.getElementById("myEditLabel").innerHTML = "新增开票公司";
            }
            document.getElementById("editId").value = 0;
            document.getElementById("editName").value = "";
            document.getElementById("editType").value = type;
        }
        function Edit(id, name, type) {

            document.getElementById("myEditLabel").innerHTML = "修改";
            document.getElementById("editId").value = id;
            document.getElementById("editName").value = name;
            document.getElementById("editType").value = type;
        }

        function EditConfirm() {
            var id = $("#editId").val();
            var name = $("#editName").val();
            var type = $("#editType").val();
            if (name == "") {
                swal("输入的内容不能为空！", "", "error");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Setting/Edit",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: {
                        id: id,
                        name: name,
                        type: type
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            $("#EditModal").modal("hide");
                            swal({ title: "执行成功!", text: "", type: "success" },
                                function () {
                                    window.location.href = '/Setting/Index';
                                });
                        }
                        else if (msg == "Repeat") {
                            $("#EditModal").modal("hide");
                            swal("您提交的内容已存在！", "", "error");
                        }
                        else {
                            $("#EditModal").modal("hide");
                            swal("执行失败！", "", "error");
                        }
                    },
                    error: function (msg) {
                        $("#EditModal").modal("hide");
                        swal("数据获取失败！", "", "error");
                    }
                });
            }
        }

        function Delete(id,name,type) {
            document.getElementById("deleteId").value = id;
            document.getElementById("deleteName").innerHTML = name;
            document.getElementById("deleteType").value = type;
        }
        function DeleteConfirm() {
            var id = $("#deleteId").val();
            $.ajax({
                type: "POST",
                url: "/Setting/Delete",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: {
                    id: id
                },
                success: function (msg) {
                    if (msg == "Success") {
                        swal({ title: "执行成功!", text: "", type: "success" },
                            function () { window.location.href = '/Setting/Index'; });
                    }
                    else {
                        swal("执行失败！", "", "error");
                    }
                },
                error: function (msg) {
                    swal("数据获取失败！", "", "error");
                }
            });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Setting/Index">后台配置</a></li>
                            <li class="active">常用参数</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>物品单位</h4>
                            <div style="float:right">
                                <input type="button" id="submitUnit" class="btn btn-primary" data-toggle='modal' data-target='#EditModal' style="padding:9px 13px" value="新增" onclick="Add(1)" />
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-2 control-label">现有物品单位：</label>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12" style="padding-left:30px;padding-right:30px;height:190px;overflow-y:auto">
                                        <table class="table table-responsive table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>单位</th>
                                                    <th>编辑</th>
                                                    <th>删除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    SettingManager UM = new SettingManager();
                                                    List<Setting> uList = UM.SelectConfigList(1);
                                                    int index = 1;
                                                    foreach (var item in uList)
                                                    {
                                                        <tr>
                                                            <td>@index</td>
                                                            <td>@item.config_list</td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@item.id,'@item.config_list',1)">编辑</button>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#DeleteModal' onclick="Delete(@item.id,'@item.config_list',1)">删除</button>
                                                            </td>

                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->

                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>物品类别</h4>
                            <div style="float:right">
                                <input type="button" id="submitUnit" class="btn btn-primary" data-toggle='modal' data-target='#EditModal' style="padding:9px 13px" value="新增" onclick="Add(2)" />
                            </div>
                        </div>
                        <br />
                        <div class="card-body">

                            <div class="form-horizontal">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-2 control-label">现有类别：</label>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12" style="padding-left:30px;padding-right:30px;height:190px;overflow-y:auto">
                                            <table class="table table-responsive table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>编号</th>
                                                        <th>物品类别</th>
                                                        <th>编辑</th>
                                                        <th>删除</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        SettingManager SM = new SettingManager();
                                                        List<Setting> objList = SM.SelectConfigList(2);
                                                        int index2 = 1;
                                                        foreach (var item in objList)
                                                        {
                                                            <tr>
                                                                <td>@index2</td>
                                                                <td>@item.config_list</td>
                                                                <td>
                                                                    <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@item.id,'@item.config_list',2)">编辑</button>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-primary" data-toggle='modal' data-target='#DeleteModal' onclick="Delete(@item.id,'@item.config_list',2)">删除</button>
                                                                </td>

                                                            </tr>
                                                            index2++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->

            </div><!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>物料名称</h4>
                            <div style="float:right">
                                <input type="button" id="submitMaterial" class="btn btn-primary" data-toggle='modal' data-target='#EditModal' style="padding:9px 13px" value="新增" onclick="Add(10)" />
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-2 control-label">现有物料：</label>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12" style="padding-left:30px;padding-right:30px;height:190px;overflow-y:auto">
                                        <table class="table table-responsive table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>物料名称</th>
                                                    <th>编辑</th>
                                                    <th>删除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    SettingManager MM = new SettingManager();
                                                    List<Setting> mList = MM.SelectConfigList(10);
                                                    int index10 = 1;
                                                    foreach (var item in mList)
                                                    {
                                                        <tr>
                                                            <td>@index10</td>
                                                            <td>@item.config_list</td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@item.id,'@item.config_list',10)">编辑</button>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#DeleteModal' onclick="Delete(@item.id,'@item.config_list',10)">删除</button>
                                                            </td>

                                                        </tr>
                                                        index10++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->

                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>出货公司抬头</h4>
                            <div style="float:right">
                                <input type="button" id="submitUnit" class="btn btn-primary" data-toggle='modal' data-target='#EditModal' style="padding:9px 13px" value="新增" onclick="Add(6)" />
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-3 control-label">现有出货公司抬头：</label>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12" style="padding-left:30px;padding-right:30px;height:190px;overflow-y:auto">
                                        <table class="table table-responsive table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>出货公司抬头</th>
                                                    <th>编辑</th>
                                                    <th>删除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    SettingManager DM = new SettingManager();
                                                    List<Setting> dList = DM.SelectConfigList(6);
                                                    int index6 = 1;
                                                    foreach (var item in dList)
                                                    {
                                                        <tr>
                                                            <td>@index6</td>
                                                            <td>@item.config_list</td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@item.id,'@item.config_list',6)">编辑</button>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#DeleteModal' onclick="Delete(@item.id,'@item.config_list',6)">删除</button>
                                                            </td>

                                                        </tr>
                                                        index6++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>开票公司</h4>
                            <div style="float:right">
                                <input type="button" id="submitUnit" class="btn btn-primary" data-toggle='modal' data-target='#EditModal' style="padding:9px 13px" value="新增" onclick="Add(9)" />
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-2 control-label">开票公司：</label>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12" style="padding-left:30px;padding-right:30px;height:190px;overflow-y:auto">
                                        <table class="table table-responsive table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>编号</th>
                                                    <th>开票公司</th>
                                                    <th>编辑</th>
                                                    <th>删除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    SettingManager invoiceCompanyM = new SettingManager();
                                                    List<Setting> invoiceCompanyList = invoiceCompanyM.SelectConfigList(9);
                                                    int index9 = 1;
                                                    foreach (var item in invoiceCompanyList)
                                                    {
                                                        <tr>
                                                            <td>@index9</td>
                                                            <td>@item.config_list</td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@item.id,'@item.config_list',9)">编辑</button>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary" data-toggle='modal' data-target='#DeleteModal' onclick="Delete(@item.id,'@item.config_list',9)">删除</button>
                                                            </td>

                                                        </tr>
                                                        index9++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>订单号开头设置</h4>
                            <div style="float:right">
                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@ViewBag.order_index_id,'@ViewBag.order_index_begin',3)">修改</button>
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">当前订单号开头：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="order_index_old" name="order_index_old" value="@ViewBag.order_index_begin" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">订单号效果预览：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="order_index_view" name="order_index_view" value="@ViewBag.order_index_view" readonly />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->

            <div class="row">

                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>采购单号开头设置</h4>
                            <div style="float:right">
                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@ViewBag.purchase_index_id,'@ViewBag.purchase_index_begin',4)">修改</button>
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">当前购入单号开头：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="purchase_index_old" name="purchase_index_old" value="@ViewBag.purchase_index_begin" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">购入单号效果预览：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="purchase_index_view" name="purchase_index_view" value="@ViewBag.purchase_index_view" readonly />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>出货单号开头设置</h4>
                            <div style="float:right">
                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@ViewBag.deliver_index_id,'@ViewBag.deliver_index_begin',5)">修改</button>
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">当前出货单号开头：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="deliver_index_old" name="deliver_index_old" value="@ViewBag.deliver_index_begin" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">出货单号效果预览：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="deliver_index_view" name="deliver_index_view" value="@ViewBag.deliver_index_view" readonly />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->

            <div class="row">

                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>退单号开头设置</h4>
                            <div style="float:right">
                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@ViewBag.return_index_id,'@ViewBag.return_index_begin',7)">修改</button>
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">当前退货单号开头：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="return_index_old" name="return_index_old" value="@ViewBag.return_index_begin" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">退货单号效果预览：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="return_index_view" name="return_index_view" value="@ViewBag.return_index_view" readonly />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
                <div class="col-lg-6">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>对账单号开头设置</h4>
                            <div style="float:right">
                                <button class="btn btn-primary" data-toggle='modal' data-target='#EditModal' onclick="Edit(@ViewBag.dz_index_id,'@ViewBag.dz_index_begin',8)">修改</button>
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">当前对账单号开头：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dz_index_old" name="dz_index_old" value="@ViewBag.dz_index_begin" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">对账单号效果预览：</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dz_index_view" name="dz_index_view" value="@ViewBag.dz_index_view" readonly />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div>

        </div>
    </div><!-- /# container-fluid -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 450px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myEditLabel">
                        修改
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editId" />
                    <input type="hidden" id="editType" />
                    <input class="form-control" type="text" id="editName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        否
                    </button>
                    <button type="button" class="btn btn-primary" onclick="EditConfirm()">
                        是
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 450px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myDeleteLabel">
                        删除
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="deletInfo">是否确认删除<span id="deleteName" style="font-weight:bold;padding:0px 5px"></span>?</div>
                    <input type="hidden" id="deleteId" />
                    <input type="hidden" id="deleteType" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        否
                    </button>
                    <button type="button" class="btn btn-primary" onclick="DeleteConfirm()">
                        是
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.Setting.parentNode.parentNode.classList.add("active");
                    _self.$refs.Setting.parentNode.parentNode.classList.add("open");
                    _self.$refs.Setting.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


