@{
    @model Model.Sale;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css" />
    <link href="~/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        var TempArr = [];//存储option
        $(function () {
            $(".sidebar ul li:nth-of-type(5)").addClass("active open")
            $(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(1)").addClass("active")
            $('#submit').click(function () {
                var flag = 0;
                var deliver_index = document.getElementById('deliver_index').value;
                var deliver_company_head = document.getElementById('deliver_company_head').value;
                var order_id = document.getElementById('order_id').value;
                if (deliver_index == "" || deliver_company_head == "" ) {
                    swal("信息不能为空！", "", "error");
                }
                else if (order_id <= 0) {
                    swal("订单号有误！", "您所填的订单号不存在！", "error");
                }
                else
                {
                    var inputNum = document.getElementById('inputNum').value;

                    var seq_idList = document.getElementsByName("seq_id");
                    var remain_numList = document.getElementsByName("remain_num");
                    var real_numList = document.getElementsByName("real_num");
                    var real_timeList = document.getElementsByName("real_time");
                    var deliver_priceList = document.getElementsByName("deliver_price");
                    var deliver_all_priceList = document.getElementsByName("deliver_all_price");

                    var seq_id = new Array();
                    var real_num = new Array();
                    var real_time = new Array();
                    var deliver_price = new Array();
                    var deliver_all_price = new Array();
                     for (var i = 0; i < real_numList.length; i++) {
                        seq_id.push(seq_idList[i].value);
                        real_num.push(real_numList[i].value);
                        real_time.push(real_timeList[i].value);
                        deliver_price.push(deliver_priceList[i].value);
                        deliver_all_price.push(deliver_all_priceList[i].value);
                        if (parseInt(real_numList[i].value) > parseInt(remain_numList[i].value)) {
                            flag = 1;
                        }
                     }

                    var Seq_Id = seq_id.join(',');
                    var Real_Num = real_num.join(',');
                    var Real_Time = real_time.join(',');
                    var Deliver_Price = deliver_price.join(',');
                    var Deliver_All_Price = deliver_all_price.join(',');

                    if (flag == 1) {
                        swal("出货数量超过剩余数量！", "", "error");
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/Sale/EditHandle",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                inputNum: inputNum, deliver_index: deliver_index, deliver_company_head: deliver_company_head, order_id: order_id,
                                Seq_Id: Seq_Id, Real_Num: Real_Num, Real_Time: Real_Time, Deliver_Price: Deliver_Price, Deliver_All_Price: Deliver_All_Price
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "执行成功!", text: "", type: "success" },
                                        function () { window.location.href = '/Sale/Index'; });

                                }
                                else {
                                    swal("执行失败，请检查提交文件内容！", "", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败！", "", "error");
                            }
                        });
                    }
                }
            });
        });    

        function getOrderList() {
            var order_id = $('#order_id').val()
            if (order_id > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Sale/GetOrderList",
                    data: { order_id: order_id },
                    success: function (msg) {
                        $('#order_div').html(msg);
                    },
                    error: function (msg) {
                        swal("获取订单失败！","请重新操作！","error");
                    }
                });
            }
        }

        function SelectTip(flag) {
            var TxtObj = document.getElementById("txtPlace");
            var SelectObj = document.getElementById("order_id")
            var Arr = []
            with (SelectObj) {
                var SelectHTML = innerHTML.match(/<[^>]*>/)[0]
                for (i = 0; i < TempArr.length; i++)
                    if (TempArr[i][0].indexOf(TxtObj.value, 0) >= 0 || flag)//若找到以txt的内容开头的，添加option。若flag为true，对下拉框初始化
                        Arr[Arr.length] = "<option value='" + TempArr[i][1] + "'>" + TempArr[i][0] + "</option>"
                innerHTML = SelectHTML + Arr.join() + "</SELECT>"
            }
        }

        function Init() {
            var SelectObj = document.getElementById("order_id");
            /*先将数据存入数组*/
            with (SelectObj)
            for (i = 0; i < length; i++)
                TempArr[i] = [options[i].text, options[i].value];
        }
       
    </script>
</head>
<body onload="Init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li><a href="/Sale/Index">销售出货开单</a></li>
                            <li class="active">
                                出货开单
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>
                                出货开单
                            </h4>
                        </div>

                        <div class="card-body">

                            <div class="basic-form">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">出货单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="deliver_index" name="deliver_index" value="@ViewBag.deliver_index" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">出货公司抬头</label>
                                        <div class="col-sm-4">
                                            
                                            <select class="form-control" id="deliver_company_head" name="deliver_company_head">
                                                <option value=""></option>
                                                @{
                                                    SettingManager SM = new SettingManager();
                                                    List<Setting> sList = SM.SelectConfigList(6);
                                                    if (sList.Count > 0)
                                                    {
                                                        for (int i = 0; i < sList.Count; i++)
                                                        {
                                                            <!option value="@sList[i].config_list">@sList[i].config_list</!option>
                                                        }
                                                    }
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">订单号</label>
                                        <div class="col-sm-4">
                                            @if (Model == null)
                                            {
                                                <input id="txtPlace" name="txtPlace" class="form-control" onkeyup="SelectTip(0)">
                                                <select class="form-control" id="order_id" name="order_id" onchange="getOrderList();txtPlace.value=options[selectedIndex].text;" size=5>
                                                    <option value=""></option>
                                                    @{
                                                        OrderManager OM = new OrderManager();
                                                        List<Order> objList = OM.SelectForSaleAll(0);
                                                        if (objList.Count > 0)
                                                        {
                                                            for (int i = 0; i < objList.Count; i++)
                                                            {
                                                                <!option value="@objList[i].id">@objList[i].order_index</!option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="order_index" name="order_index" value="@if (Model!=null) {@Model.order_index } " readonly />
                                                <input type="hidden" class="form-control" id="id" name="id" value="@if (Model!=null) {@Model.id } " readonly />
                                            }

                                        </div>
                                    </div>

                                    <div class="form-horizontal" id="order_div">

                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-5">
                                            <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    
</body>
</html >


