@{
    Layout = null;
    @model IList<Model.Order>;
}

<table class="table table-responsive table-hover ">
    <thead>
        <tr>
            <th>序号</th>
            <th hidden>实际序号</th>
            <th hidden>客户订单ID</th>
            <th>客户订单号</th>
            <th>下单日期</th>
            <th>名称规格</th>
            <th>订单数量</th>
            <th>单位</th>
            @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
            {
                <th>单价</th>
                <th>金额</th>
            }
            <th hidden>剩余数量</th>
            <th>剩余数量</th>
            <th>采购员</th>
            <th>出货数量</th>
            @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
            {
                <th>出货单价</th>
                <th>出货总价</th>
            }
            <th>备注</th>

        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td hidden><input type="text" name="seq_id" style="width:100px" value="@item.seq_id" /></td>
                    <td hidden><input type="text" name="order_id" style="width:100px" value="@item.order_id" /></td>
                    <td>@item.company_order_index</td>
                    <td>@item.order_time.ToString("yyyy-MM-dd")</td>
                    <td>@item.order_name</td>
                    <td>@item.order_num</td>
                    <td>@item.unit</td>
                    @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                    {
                        <td>@item.order_price</td>
                        <td>@item.order_all_price</td>
                    }

                    <td hidden><input type="text" name="remain_num" style="width:100px" value="@(item.order_num-item.open_num+item.tui_num)" /></td>
                    <td>@(item.order_num-item.open_num+item.tui_num)</td>
                    <td>@item.purchase_person</td>
                    <td>
                        <input type="text" id="real_num@{@item.seq_id}" name="real_num" style="width:100px;border-right-style: none;border-left-style: none;border-top-style: none;" onchange="getProductPrice(@item.seq_id)" />
                    </td>
                    @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                    {
                        <td>
                            <input type="text" id="deliver_price@{@item.seq_id}" name="deliver_price" style="width:100px;border-right-style: none;border-left-style: none;border-top-style: none;" onchange="getProductPrice(@item.seq_id)" />

                        </td>
                        <td id="price_div@{@item.seq_id}">

                            <input type="text" name="deliver_all_price" style="width:100px;border-right-style: none;border-left-style: none;border-top-style: none;" />

                        </td>
                    }
                    <td>
                        <input type="text" name="remark" style="width:100px;border-right-style: none;border-left-style: none;border-top-style: none;" />
                    </td>

                </tr>
                index++;
            }
        <tr><td ><input id="inputNum" name="inputNum" value="@(index-1)" hidden/></td></tr>
        } 
    </tbody>
</table>
