@{
    @model IList<Model.Sale>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(5)").addClass("active open");
            //$(".sidebar ul li:nth-of-type(5) ul li").removeClass();
            //$(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(1)").addClass("active");

            $("#myTable").bootstrapTable({
                url: '/Sale/GetData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbar: "#toolbar",
                toolbarAlign: 'left',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '销售送货开单',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_company_head',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'real_num',
                    title: '送货总数',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.real_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'deliver_all_price',
                    title: '送货总价',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.deliver_all_price.toFixed(2);
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.deliver_all_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'insert_time',
                    title: '送货开单时间',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.insert_time.split('T')[0];
                    }
                }, {
                    field: 'edit',
                    title: '送货详情',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var result = "";
                        result += "<a href = '/Sale/Edit?deliver_index=" + row.deliver_index + "'>送货详情</a>";
                        return result;
                    }
                }]
            });
        });

        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var deliver_index = $("#deliver_index").val();
            var deliver_company_head = $("#deliver_company_head").val();
            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();

            var searchUrl = "/Sale/GetData?start_time=" + start_time + "&end_time=" + end_time + "&deliver_index=" + deliver_index
                + "&deliver_company_head=" + deliver_company_head + "&day=" + day + "&month=" + month + "&year=" + year;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }

        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }
        }

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">销售送货开单</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>送货单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="deliver_index" name="deliver_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SaleManager SM = new SaleManager();
                                                List<Sale> saleList = SM.SelectAll("2001-01-01", "2222-01-01");
                                                if (saleList.Count > 0)
                                                {
                                                    for (int i = 0; i < saleList.Count; i++)
                                                    {
                                                        <!option value="@saleList[i].deliver_index" @if (Model != null) { if (saleList[i].deliver_index == ViewBag.deliver_index) { <text> selected</text>}}>@saleList[i].deliver_index</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="deliver_company_head" name="deliver_company_head" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.deliver_company_head) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                    <div class="form-group">
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <input type="button" value="送货开单" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/Sale/Edit?deliver_index=new'" />
                                        }

                                    </div>
                                </div>
                            </div>
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>

                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.Sale.parentNode.parentNode.classList.add("active");
                    _self.$refs.Sale.parentNode.parentNode.classList.add("open");
                    _self.$refs.Sale.classList.add("active");

                    setTimeout(function () {
                        setDataCardView("#myTable");
                    }, 500);
                })
            }
        })
    </script>
</body>
</html>


