
@{
    @model Model.Sale;
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(5)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            //$(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(4)").addClass("active")
        });

        function moneySubmit()
        {
            var deliver_index = $('#deliver_index').val();
            var seq_id = $('#seq_id').val();
            var money_onoff = $('#money_onoff').val();
            var money_way = $('#money_way').val();

            if (money_way < 1 || money_onoff=="") {
                swal("请选择结账方式！", "", "error");
            }
            else
            {
                $.ajax({
                    type: "POST",
                    url: "/Sale/MoneyEdit",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: {
                        deliver_index: deliver_index, seq_id: seq_id, money_onoff: money_onoff, money_way: money_way
                    },
                    success: function (msg) {
                        if (msg == "Success") {
                            swal({ title: "执行成功!", text: "", type: "success" },
                                function () { window.location.href = '/Sale/MoneyIndex'; });

                        }
                        else {
                            swal("执行失败，请检查提交内容！", "", "error");
                        }
                    },
                    error: function (msg) {
                        swal("数据获取失败！", "", "error");
                    }
                });
            }
        }

    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li><a href="/Sale/MoneyIndex">销售对账</a></li>
                            <li class="active">修改结款</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>修改结款</h4>
                        </div>
                        <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">送货单号：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="deliver_index" name="deliver_index" value="@Model.deliver_index" disabled="disabled" />
                                        <input type="hidden" class="form-control" id="seq_id" name="seq_id" value="@Model.seq_id" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">客户名称：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="@Model.deliver_company_head" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">名称规格：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="@Model.order_name" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">数量：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="@Model.real_num" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">单价：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="@Model.deliver_price" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-input-normal" class="col-sm-4 control-label">总价：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="@Model.deliver_all_price" disabled="disabled" />
                                    </div>
                                </div>
                                @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                {
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">是否结账</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" id="money_onoff" name="money_onoff">
                                                <option value=""></option>
                                                @{
                                                    <!option value="0" @if (0 == Model.money_onoff) { <text> selected</text> }>未结账</!option>
                                                    <!option value="1" @if (1 == Model.money_onoff) { <text> selected</text> }>已结账</!option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">结账方式</label>
                                        <div class="form-control">
                                            <select class="form-control" id="money_way" name="money_way">
                                                <option value=""></option>
                                                @{
                                                    <!option value="1" @if (1 == Model.money_way) { <text> selected</text> }>月结</!option>
                                                    <!option value="2" @if (2 == Model.money_way) { <text> selected</text> }>现金</!option>
                                                    <!option value="3" @if (3 == Model.money_way) { <text> selected</text> }>小额支付</!option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-sm-offset-6">
                                        <input type="button" class="btn btn-primary" style="width:60px;" value="提交" onclick="moneySubmit()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.Payment.parentNode.parentNode.classList.add("active");
                    _self.$refs.Payment.parentNode.parentNode.classList.add("open");
                    _self.$refs.Payment.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>




