@{
    @model IList<Model.Sale>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {

            $("#myTable").bootstrapTable({
                url: '/Sale/GetMoneyIndexData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbar:"#toolbar",
                toolbarAlign: 'left',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '销售对账',//下载文件名称
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_company_head',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_order_index',
                    title: '客户订单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'insert_time',
                    title: '送货开单时间',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.insert_time.split('T')[0];
                    }
                }, {
                    field: 'order_name',
                    title: '名称规格',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (row.return_flag == 1) {
                            return "<span style='color:red'>" + row.order_name + "</span>"
                        } else {
                            return "<span>" + row.order_name + "</span>"
                        }
                    }
                }, {
                    field: 'purchase_person',
                    title: '采购人员',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'real_num',
                    title: '送货数量',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.real_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'unit',
                    title: '单位',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_price',
                    title: '送货单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_all_price',
                    title: '送货总价',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.deliver_all_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'unDui',
                    title: '未对账数量',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var res = row.real_num - row.dz_num;
                        return res;
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.real_num - item.dz_num;
                        });
                        return count.toFixed(2);
                    }
                }]
            });
        });

        function getPickerList() {
            var duizhangList = $("#myTable").bootstrapTable("getSelections");
            var duizhang = new Array();
            for (var i = 0; i < duizhangList.length; i++) {
                duizhang.push(duizhangList[i].deliver_index + "+" + duizhangList[i].seq_id);
            }
            var Dui_Zhang = duizhang.join(',');
            $.ajax({
                type: "POST",
                url: "/Sale/GetPickerList",
                data: { Dui_Zhang: Dui_Zhang },
                success: function (msg) {
                    $('#picker_list').html(msg);

                    $("#myModalLabel").text("对账预览");
                    $('#myModal').modal();
                },
                error: function (msg) {
                    swal("您暂无勾选！", "请重新操作！", "error");
                }
            });
        }


        function duiZhang() {
            var saleidList = document.getElementsByName("sale_id");
            var judgeTagList = document.getElementsByName("judgeTag");
            var duinumList = document.getElementsByName("dui_num");
            var duipriceList = document.getElementsByName("dui_price");
            var dz_index = document.getElementById("dz_index").value;

            var saleid = new Array();
            var duinum = new Array();
            var duiprice = new Array();

            var flag = 0;
            for (var i = 0; i < saleidList.length; i++) {
                if (parseInt(judgeTagList[i].value) < parseInt(duinumList[i].value)) {
                    console.log("超限");
                    flag = 1;
                    swal("对账数量超限！", "请重新操作！", "error");
                } else {
                    saleid.push(saleidList[i].value);
                    duinum.push(duinumList[i].value);
                    duiprice.push(duipriceList[i].value);
                }

            }
            var Sale_Id = saleid.join(',');
            var Dui_Num = duinum.join(',');
            var Dui_Price = duiprice.join(',');
            if (flag == 0) {
                swal({
                    title: "是否确认对账?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是",
                    cancelButtonText: "否",
                    closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                    closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: "POST",
                                url: "/Sale/DuiZhang",
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                data: {
                                    dz_index: dz_index, Dui_Num: Dui_Num, Dui_Price: Dui_Price, Sale_Id: Sale_Id
                                },
                                success: function (msg) {
                                    if (msg == "Success") {
                                        swal({ title: "执行成功!", text: "", type: "success" },
                                            function () { window.location.href = '/Sale/MoneyIndex'; });

                                    }
                                    else {
                                        swal("执行失败！", "", "error");
                                    }
                                },
                                error: function (msg) {
                                    swal("数据获取失败！", "", "error");
                                }
                            });
                        }
                        else {
                            swal("操作已终止 !", "该记录已保留 !", "error");
                        }
                    });
            }

        }

        function doPrint() {
            window.print();
            return false;
        };
        window.onbeforeprint = function () {

            $(".sidebar").hide()
            $(".header").hide()
            $("#myModal").hide()
            $("#Data1").show()
            $("#wrap").hide()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", 0)
        }
        window.onafterprint = function () {
            $("#Data1").hide()
            $("#wrap").show()
            $("#myModal").show()
            $(".sidebar").show()
            $(".header").show()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", "250px")
        }

        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var deliver_index = $("#deliver_index").val();
            var deliver_company_head = $("#deliver_company_head").val();
            var order_name = $("#order_name").val();
            var purchase_person = $("#purchase_person").val();

            var searchUrl = "/Sale/GetMoneyIndexData?start_time=" + start_time + "&end_time=" + end_time + "&deliver_index=" + deliver_index
                + "&deliver_company_head=" + deliver_company_head + "&order_name=" + order_name + "&purchase_person=" + purchase_person;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }

        function GetAllMoney() {
            var moneyList = document.getElementsByName('dui_price');
            var allMoney = 0;
            for (var i = 0; i < moneyList.length; i++) {
                allMoney += parseFloat(moneyList[i].value);
            }
            document.getElementById('allMoney').innerText = allMoney;
        }
    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">销售对账</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>送货单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="deliver_index" name="deliver_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SaleManager SM = new SaleManager();
                                                List<Sale> saleList = SM.SelectDeliverList();
                                                if (saleList.Count > 0)
                                                {
                                                    for (int i = 0; i < saleList.Count; i++)
                                                    {
                                                        <!option value="@saleList[i].deliver_index" @if (Model != null) { if (saleList[i].deliver_index == ViewBag.deliver_index) { <text> selected</text>}}>@saleList[i].deliver_index</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="deliver_company_head" name="deliver_company_head" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.deliver_company_head) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" style="width:220px" value="@ViewBag.order_name" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>采购人员：</label>

                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_person" name="purchase_person" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                if (ViewBag.contacts.Count > 0)
                                                {
                                                    for (int i = 0; i < ViewBag.contacts.Count; i++)
                                                    {
                                                        <!option value="@ViewBag.contacts[i]">@ViewBag.contacts[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="对账" class="btn btn-primary" style="width:80px" onclick="getPickerList()" />
                                    </div>
                                </div>
                            </div>
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width:60%">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">勾选列表</h4>
                    <input type="hidden" id="dz_index" value="@ViewBag.dz_index" />
                </div>
                <div class="modal-body" id="picker_list">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="duiZhang()">保存</button>
                    @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="doPrint()">打印</button>*@
                </div>
            </div>
        </div>
    </div>

    @*<div class="card alert" id="Data1" style="margin: 30px;display:none;">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr style="font-weight:bold">
                        <td style="font-size:26px;text-align:center;padding:2px;border:0;" colspan="6"><span id="deliver_head">对账单</span></td>
                    </tr>
                    <tr>
                        <td style="padding:2px;border:0;text-align:left;width:70px">对账单号：</td>
                        <td style="padding:2px;border:0;text-align:left;width:80px" id="dz_index">@ViewBag.dz_index</td>
                        <td style="padding:2px;border:0;"></td>
                        <td style="padding:2px;border:0;"></td>
                        <td style="padding:2px;border:0;text-align:right">打印日期：</td>
                        <td style="padding:2px;border:0;text-align:right;width:120px">@(DateTime.Now.ToLocalTime().AddHours(8).ToString("yyyy-MM-dd HH:ss:mm"))</td>
                    </tr>
                </tbody>
            </table>
            <div class="card-body" id="picker_list1">
            </div>
        </div>*@
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.MoneyIndex.parentNode.parentNode.classList.add("active");
                    _self.$refs.MoneyIndex.parentNode.parentNode.classList.add("open");
                    _self.$refs.MoneyIndex.classList.add("active");

                    setTimeout(function () {
                        setDataCardView("#myTable");
                    }, 500);
                })
            }
        })
    </script>
</body>
</html>


