@{
    @model Model.SaleReturn;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        var TempArr = [];//存储option
        $(function () {
            //$(".sidebar ul li:nth-of-type(5)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            //$(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(2)").addClass("active")
            $('#submit').click(function () {
                var seq_id = $('#seq_id').val();
                var return_index = $('#return_index').val();
                var real_num = $('#real_num').val();
                var return_num = $('#return_num').val();
                var return_price = $('#return_price').val();
                var return_all_price = $('#return_all_price').val();
                var remark = $('#remark').val();
                if (parseInt(real_num) < parseInt(return_num)) {
                    swal("退货数量超过送货数量！", "", "error");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/SaleReturnSeq/EditHandle",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: {
                            seq_id: seq_id, return_index: return_index, real_num: real_num, return_num: return_num,
                            return_price: return_price, return_all_price: return_all_price, remark: remark
                        },
                        success: function (msg) {
                            if (msg == "Success") {
                                swal({ title: "执行成功!", text: "", type: "success" },
                                    function () { window.location.href = '/SaleReturn/Edit?return_index=@ViewBag.return_index'; });

                            }
                            else {
                                swal("执行失败，请检查提交文件内容！", "", "error");
                            }
                        },
                        error: function (msg) {
                            swal("数据获取失败！", "", "error");
                        }
                    });
                }

            });
        });

    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售开单</a></li>
                            <li><a href="/SaleReturn/Index">销售退货开单</a></li>
                            <li><a href="/SaleReturn/Eidt?return_index=@ViewBag.return_index">退货详情</a></li>
                            <li class="active">编辑退货单</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>
                                编辑退货单
                            </h4>
                        </div>

                        <div class="card-body">

                            <div class="basic-form">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">退货单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="return_index" name="return_index" value="@ViewBag.return_index" readonly />
                                            <input type="hidden" class="form-control" id="seq_id" name="seq_id" value="@ViewBag.seq_id" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="deliver_index" name="deliver_index" value="@Model.deliver_index" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">订单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="order_index" name="order_index" value="@Model.order_index" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">名称规格</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="order_name" name="order_name" value="@Model.order_name" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货数量</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="real_num" name="real_num" value="@Model.real_num" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货单价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="deliver_price" name="deliver_price" value="@Model.deliver_price" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">送货总价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="deliver_all_price" name="deliver_all_price" value="@Model.deliver_all_price" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">退货数量</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="return_num" name="return_num" value="@Model.return_num" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">退货单价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="return_price" name="return_price" value="@Model.return_price" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">退货总价</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="return_all_price" name="return_all_price" value="@Model.return_all_price" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">备注</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="remark" name="remark" value="@Model.remark" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-5">
                                            <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.SaleReturn.parentNode.parentNode.classList.add("active");
                    _self.$refs.SaleReturn.parentNode.parentNode.classList.add("open");
                    _self.$refs.SaleReturn.classList.add("active");

                    setTimeout(function () {
                        setDataCardView("#myTable");
                    }, 500);
                })
            }
        })
    </script>
</body>
</html>




