@{
    @model IList<Model.SaleReturn>;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        var TempArr = [];//存储option
        $(function () {
            //$(".sidebar ul li:nth-of-type(5)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(5) ul li").removeClass()

            //$(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(@if (ViewBag.flag == null) {<text>2</text> } else { <text>3</text>} )").addClass("active")
            $('#submit').click(function () {
                var flag = 0;
                var deliver_index = $('#deliver_index').val()
                if (deliver_index == null) {
                        swal("信息不能为空！", "", "error");
                    }
                    else {
                        var inputNum = document.getElementById('inputNum').value;
                        var return_index = document.getElementById('return_index').value;
                        var deliver_index = $('#deliver_index').val()

                    var seq_idList = document.getElementsByName("seq_id");
                        var real_numList = document.getElementsByName("real_num");

                        var return_numList = document.getElementsByName("return_num");
                        var return_priceList = document.getElementsByName("return_price");
                        var return_all_priceList = document.getElementsByName("return_all_price");
                        var remarkList = document.getElementsByName("remark");

                        var seq_id = new Array();

                        var real_num = new Array();

                        var return_num = new Array();
                        var return_price = new Array();
                        var return_all_price = new Array();
                        var remark = new Array();
                        for (var i = 0; i < real_numList.length; i++) {
                            seq_id.push(seq_idList[i].value);
                            real_num.push(real_numList[i].value);

                            return_num.push(return_numList[i].value);
                            return_price.push(return_priceList[i].value);
                            return_all_price.push(return_all_priceList[i].value);
                            remark.push(remarkList[i].value);
                            if (parseInt(return_numList[i].value) > parseInt(real_numList[i].value)) {
                                flag = 1;
                            }
                        }

                        var Seq_Id = seq_id.join(',');
                        var Return_Num = return_num.join(',');
                        var Return_Price = return_price.join(',');
                        var Return_All_Price = return_all_price.join(',');
                        var Remark = remark.join(',');

                        if (flag == 1) {
                            swal("退货数量超过出货数量！", "", "error");
                        }
                        else {
                        $.ajax({
                            type: "POST",
                            url: "/SaleReturn/EditHandle",
                            beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                            data: {
                                inputNum: inputNum, return_index: return_index, deliver_index: deliver_index,
                                Seq_Id: Seq_Id, Return_Num: Return_Num, Return_Price: Return_Price, Return_All_Price: Return_All_Price, Remark: Remark
                            },
                            success: function (msg) {
                                    if (msg == "Success") {
                                        swal({ title: "执行成功!", text: "", type: "success" },
                                        function () { window.location.href = '/SaleReturn/Edit?return_index=@ViewBag.return_index'; });

                                    }
                                    else {
                                        swal("执行失败，请检查提交内容！", "", "error");
                                    }
                                },
                            error: function (msg) {
                                    swal("数据获取失败！", "", "error");
                                }
                            });
                        }
                    }
                });
            });

        function getDeliverList() {
            var deliver_index = $('#deliver_index').val()
            $.ajax({
                type: "POST",
                url: "/SaleReturn/GetDeliverList",
                data: { deliver_index: deliver_index },
                success: function (msg) {
                    $('#deliver_div').html(msg);
                },
                error: function (msg) {
                    swal("获取出货单失败！", "请重新操作！", "error");
                }
            });
        }

        function getProductPrice(id) {
            var return_num = $('#return_num' + id + '').val()
            var return_price = $('#return_price' + id + '').val()

            if (return_price >= 0 && return_price >= 0) {
                $.ajax({
                    type: "POST",
                    url: "/SaleReturn/GetProductPrice",
                    data: { id: id, return_num: return_num, return_price: return_price },
                    success: function (msg) {
                        $('#price_div' + id + '').html(msg);
                    },
                    error: function (msg) {
                        swal("获取价格失败！", "", "error");
                    }
                });
            }
        }

        function deleteTiShi(return_index, seq_id) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/SaleReturnSeq/Del?return_index=" + return_index + "&seq_id=" + seq_id + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                return_index: return_index, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { window.location.href = '/SaleReturn/Edit?return_index=@ViewBag.return_index'; });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            @if (ViewBag.flag == null)
                            {
                                <li><a href="/SaleReturn/Index">销售退货开单</a></li>
                            }
                            else
                            {
                                <li><a href="/SaleReturn/ReturnHistoryIndex">历史退货记录</a></li>
                            }
                            @if (ViewBag.flag == null)
                            {
                                <li class="active">
                                    退货开单
                                </li>
                            }
                            else
                            {
                                <li class="active">
                                    退货详情
                                </li>
                            }

                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            @if (ViewBag.flag == null)
                            {
                                <h4>
                                    退货开单
                                </h4>
                            }

                        </div>

                        <div class="card-body">

                            <div class="basic-form">
                                <div class="form-horizontal">
                                    <input type="hidden" id="menuFlag" value="@ViewBag.flag" />
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">退货单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="return_index" name="return_index" style="width:220px" value="@ViewBag.return_index" readonly />
                                        </div>
                                    </div>

                                    @if (ViewBag.flag == null)
                                    {

                                        <div class="form-group">
                                            <label for="example-input-normal" class="col-sm-4 control-label">送货单号</label>
                                            <div class="col-sm-4">
                                                <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="deliver_index" name="deliver_index" onchange="getDeliverList()">
                                                    <option value=""></option>
                                                    @{
                                                        SaleManager SM = new SaleManager();
                                                        List<Sale> objList = SM.SelectForReturnIndex();
                                                        if (objList.Count > 0)
                                                        {
                                                            for (int i = 0; i < objList.Count; i++)
                                                            {
                                                                <!option value="@objList[i].deliver_index">@objList[i].deliver_index</!option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-horizontal" id="deliver_div">

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-5">
                                                <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->

                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>
                                已退货订单
                            </h4>
                            <input type="hidden" value="@ViewBag.return_index" id="return_index" name="return_index" />
                            <br />
                        </div>
                        <hr />
                        <div class="card-body">
                            @if (Model != null)
                            {
                                <table class="table table-responsive table-hover ">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>送货单号</th>
                                            <th>客户订单号</th>
                                            <th>名称规格</th>
                                            <th>单位</th>
                                            <th>退货数量</th>
                                            @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                            {
                                                <th>退货单价</th>
                                                <th>退货金额</th>
                                            }
                                            <th>备注</th>
                                            @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager && ViewBag.flag == null)
                                            {
                                                <th>编辑</th>
                                            }
                                            @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss && ViewBag.flag == null)
                                            {
                                                <th>删除</th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int index = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@index</td>
                                                    <td>@item.deliver_index</td>
                                                    <td>@item.company_order_index</td>
                                                    <td>@item.order_name</td>
                                                    <td>@item.unit</td>

                                                    <td>@item.return_num</td>
                                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                                    {
                                                        <td>@item.return_price</td>
                                                        <td>@item.return_all_price</td>
                                                    }
                                                    <td>@item.remark</td>
                                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager && ViewBag.flag == null)
                                                    {
                                                        <td>
                                                            <input type="button" class="btn btn-primary" onclick="window.location.href = '/SaleReturnSeq/Edit?return_index=@ViewBag.return_index&seq_id=@item.seq_id'" value="编辑" />
                                                        </td>
                                                    }
                                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss && ViewBag.flag == null)
                                                    {
                                                        <td>
                                                            <input type="button" class="btn btn-primary" onclick="deleteTiShi('@ViewBag.return_index',@item.seq_id)" value="删除" />
                                                        </td>
                                                    }

                                                </tr>
                                                index++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    var flag = $('#menuFlag').val();
                    if (flag == undefined || flag == null || flag == "") {
                        _self.$refs.SaleReturn.parentNode.parentNode.classList.add("active");
                        _self.$refs.SaleReturn.parentNode.parentNode.classList.add("open");
                        _self.$refs.SaleReturn.classList.add("active");
                    } else {
                        _self.$refs.ReturnHistoryIndex.parentNode.parentNode.classList.add("active");
                        _self.$refs.ReturnHistoryIndex.parentNode.parentNode.classList.add("open");
                        _self.$refs.ReturnHistoryIndex.classList.add("active");
                    }

                    
                })
            }
        })
    </script>
</body>
</html>


