@{
    Layout = null;
    @model IList<Model.Sale>;
}
<table class="table table-responsive table-hover ">
    <thead>
        <tr>
            <th>序号</th>
            <th hidden>实际序号</th>
            <th>名称规格</th>
            <th>单位</th>
            <th>送货数量</th>
            <th>送货单价</th>
            <th>送货总价</th>
            <th>采购员</th>
            <th>退货数量</th>
            <th>退货单价</th>
            <th>退货总价</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (var item in Model)
            {
        <tr>
            <td>@index</td>
            <td hidden><input type="text" name="seq_id" style="width:100px" value="@item.seq_id" /></td>
            <td>@item.order_name</td>
            <td>@item.unit</td>
            <td>@item.real_num</td>
            <td>@item.deliver_price</td>
            <td>@item.deliver_all_price</td>
            <td>@item.purchase_person</td>
            <td hidden><input type="text" name="real_num" style="width:100px" value="@item.real_num" /></td>
            <td>
                <input type="text" id="return_num@{@item.seq_id}" name="return_num" style="width:80px;border-left-style:none;border-top-style:none;border-right-style:none;" onchange="getProductPrice(@item.seq_id)"/>
            </td>
            <td>
                <input type="text" id="return_price@{@item.seq_id}" name="return_price" style="width:80px;border-left-style:none;border-top-style:none;border-right-style:none;" onchange="getProductPrice(@item.seq_id)"/>
            </td>
            <td id="price_div@{@item.seq_id}">
                <input type="text" name="return_all_price" style="width:80px;border-left-style:none;border-top-style:none;border-right-style:none;" />
            </td>
            <td>
                <input type="text" name="remark" style="width:80px;border-left-style:none;border-top-style:none;border-right-style:none;" />
            </td>
        </tr>
                index++;
            }
        <tr><td ><input id="inputNum" name="inputNum" value="@(index-1)" hidden/></td></tr>
        } 
    </tbody>
</table>
