@{
    @model IList<Model.SaleReturn>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/js/dist/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/js/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(5)").addClass("active open")
            $(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(2)").addClass("active")
        });

        function confirmTiShi(return_index, seq_id) {
            swal({
                title: "是否确认?",
                text: "确认后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/SaleReturn/Confirm",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                return_index: return_index, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已确认 !", text: "该条退货单已确认 !", type: "success" },
                                        function () { window.location.href = '/SaleReturn/Index'; });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">销售退货开单</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/SaleReturn/Index" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>退货单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="return_index" name="return_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SaleReturnManager SM = new SaleReturnManager();
                                                List<SaleReturn> saleList = SM.SelectAll(0, "2001-01-01", "2222-01-01");
                                                if (saleList.Count > 0)
                                                {
                                                    for (int i = 0; i < saleList.Count; i++)
                                                    {
                                                        <!option value="@saleList[i].return_index" @if (Model != null) { if (saleList[i].return_index == ViewBag.return_index) { <text> selected</text>}}>@saleList[i].return_index</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" value="@ViewBag.order_name" />
                                    </div>
                                    <div class="form-group">
                                        <label>开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>
                                    <div class="form-group">
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <input type="button" value="退货开单" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/SaleReturn/Edit?return_index=new'" />
                                        }

                                    </div>
                                </div>

                                <br />


                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>退货单号</th>
                                        <th>送货单号</th>
                                        <th>客户名称</th>
                                        <th>客户订单号</th>
                                        <th>名称规格</th>
                                        <th>单位</th>
                                        <th>退货数量</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>退货单价</th>
                                            <th>退货总价</th>
                                        }
                                        <th>退货开单日期</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>退货单确认</th>
                                        }


                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.return_index</td>
                                        <td>@item.deliver_index</td>
                                        <td>@item.deliver_company_head</td>
                                        <td>@item.company_order_index</td>
                                        <td>@item.order_name</td>
                                        <td>@item.unit</td>
                                        <td>@item.return_num</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.return_price</td>
                                            <td>@item.return_all_price</td>
                                        }

                                        <td>@item.insert_time.ToString("yyyy-MM-dd")</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>
                                                <button class="btn btn-primary" onclick="confirmTiShi('@item.return_index',@item.seq_id)">确认</button>
                                            </td>
                                        }

                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "SaleReturn", "Index", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


