@{
    @model IList<Model.SaleReturn>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(5)").addClass("active open")
            $(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(2)").addClass("active");
            $("#myTable").bootstrapTable({
                url: '/SaleReturn/GetData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '销售退货开单',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                    }, {
                        field: 'return_index',
                        title: '退货单号',
                        align: 'center',
                        sortable: true
                    }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_company_head',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_order_index',
                    title: '客户订单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_name',
                    title: '名称规格',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'unit',
                    title: '单位',
                    align: 'center',
                    sortable: true
                    }, {
                        field: 'return_num',
                        title: '退货数量',
                        align: 'center',
                        sortable: true,
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.return_num;
                            });
                            return count.toFixed(2);
                        }
                    }, {
                        field: 'return_price',
                        title: '退货单价',
                    align: 'center',
                    sortable: true
                }, {
                        field: 'return_all_price',
                        title: '退货总价',
                    align: 'center',
                        sortable: true,
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.return_all_price;
                            });
                            return count.toFixed(2);
                        }
                    }, {
                        field: 'insert_time',
                        title: '退货开单日期',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.insert_time.split('T')[0];
                        }
                    }, {
                    field: 'edit',
                        title: '退货单确认',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var result = "";
                        result += "<button class='btn btn-primary' onclick=\"confirmTiShi('" + row.return_index + "'," + row.seq_id+")\">确认</button>";
                        return result;
                    }
                }]
            });
        });

        function confirmTiShi(return_index, seq_id) {
            swal({
                title: "是否确认?",
                text: "确认后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/SaleReturn/Confirm",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                return_index: return_index, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已确认 !", text: "该条退货单已确认 !", type: "success" },
                                        function () { Search(); });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var return_index = $("#return_index").val();
            var order_name = $("#order_name").val();

            var searchUrl = "/SaleReturn/GetData?start_time=" + start_time + "&end_time=" + end_time + "&return_index=" + return_index
                + "&order_name=" + order_name;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">销售退货开单</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>退货单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="return_index" name="return_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SaleReturnManager SM = new SaleReturnManager();
                                                List<string> saleList = SM.SelectAll(0, "2001-01-01", "2222-01-01").GroupBy(s=>s.return_index).Select(s=>s.Key).ToList();
                                                if (saleList.Count > 0)
                                                {
                                                    for (int i = 0; i < saleList.Count; i++)
                                                    {
                                                        <!option value="@saleList[i]" @if (Model != null) { if (saleList[i] == ViewBag.return_index) { <text> selected</text>}}>@saleList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" value="@ViewBag.order_name" />
                                    </div>
                                    <div class="form-group">
                                        <label>开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" autocomplete="off" class="form-control" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                    <div class="form-group">
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <input type="button" value="退货开单" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/SaleReturn/Edit?return_index=new'" />
                                        }

                                    </div>
                                </div>

                                <br />
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


