@{
    @model IList<Model.SaleReturn>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(5)").addClass("active open")
            $(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(4)").addClass("active")
        });

        function confirmTiShi(deliver_index) {
            swal({
                title: "是否确认该结款 ?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是",
                cancelButtonText: "否",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/SaleReturn/DeliverConfirm?deliver_index=" + deliver_index + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                deliver_index: deliver_index
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已确认 !", text: "", type: "success" },
                                        function () { window.location.href = '/SaleReturn/MoneyIndex'; });
                                }
                                else {
                                    swal("执行失败 !", "", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "", "error");
                            }
                        });
                    }
                    else {
                        swal("操作已终止 !", "该记录已保留 !", "error");
                    }
                });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">销售退货开单</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/SaleReturn/MoneyIndex" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>出&nbsp;货&nbsp;&nbsp;单&nbsp;号：</label>
                                        <input id="deliver_index" name="deliver_index" type="text" class="form-control" style="height:36px" value="@ViewBag.deliver_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>出货公司抬头：</label>
                                        <input id="deliver_company_head" name="deliver_company_head" type="text" class="form-control" style="height:36px" value="@ViewBag.deliver_company_head" />
                                    </div>

                                    <div class="form-group">
                                        <label>订&nbsp;&nbsp;单&nbsp;&nbsp;号：</label>
                                        <input id="order_index" name="order_index" type="text" class="form-control" style="height:36px" value="@ViewBag.order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>客户名称：</label>
                                        <input id="company_name" name="company_name" type="text" class="form-control" style="height:36px" value="@ViewBag.company_name" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>客户订单号：</label>
                                        <input id="company_order_index" name="company_order_index" type="text" class="form-control" style="height:36px" value="@ViewBag.company_order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>开&nbsp;&nbsp;始&nbsp;&nbsp;&nbsp;&nbsp;时&nbsp;&nbsp;间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" style="height:36px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" style="height:36px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>
                                </div>
                                <br />


                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>出货单号</th>
                                        <th>出货公司抬头</th>
                                        <th>订单号</th>
                                        <th>客户公司</th>
                                        <th>客户订单号</th>
                                        <th>订单总数</th>
                                        <th>出货总数</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>出货总价</th>
                                            <th>结款与否</th>
                                            <th>结款方式</th>
                                        }

                                        <th>创建时间</th>
                                        <th>出货详情</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <th>确认</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.deliver_index</td>
                                        <td>@item.deliver_company_head</td>
                                        <td>@item.order_index</td>
                                        <td>@item.company_name</td>
                                        <td>@item.company_order_index</td>
                                        <td>@item.order_num</td>
                                        <td>@item.real_num</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.deliver_all_price</td>
                                            @if (item.money_onoff == 0)
                                            {
                                                <td style="color:red">未结款</td>
                                            }
                                            else
                                            {
                                                <td style="color:green">已结款</td>
                                            }

                                            @if (item.money_way == 0)
                                            {
                                                <td></td>
                                            }
                                            else if (item.money_way == 1)
                                            {
                                                <td>月结</td>
                                            }
                                            else if (item.money_way == 2)
                                            {
                                                <td>现金</td>
                                            }
                                            else
                                            {
                                                <td>小额支付</td>
                                            }
                                        }


                                        <td>@item.insert_time</td>
                                        <td>
                                            <button class="btn btn-primary" onclick="window.location.href = '/SaleReturn/MoneySeqIndex?deliver_index=@item.deliver_index&deliver_status=@item.deliver_status'">出货详情</button>
                                        </td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {

                                            @if (item.deliver_status == 0)
                                            {
                                                <td>
                                                    <input type="button" class="btn btn-primary" onclick="confirmTiShi('@item.deliver_index')" value="确认" />

                                                </td>
                                            }
                                        }
                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "SaleReturn", "MoneyIndex", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


