@{
    @model IList<Model.SaleReturn>
    @using Model;
    @using BLL;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(5)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            //$(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(3)").addClass("active")

            $("#myTable").bootstrapTable({
                url: '/SaleReturn/GetHistoryData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '历史退货记录',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function () {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'return_index',
                    title: '退货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_company_head',
                    title: '客户名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_order_index',
                    title: '客户订单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_name',
                    title: '名称规格',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'unit',
                    title: '单位',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'return_num',
                    title: '退货数量',
                    align: 'center',
                        sortable: true,
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.return_num;
                            });
                            return count.toFixed(2);
                        }
                }, {
                    field: 'return_price',
                    title: '退货单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'return_all_price',
                    title: '退货总价',
                    align: 'center',
                        sortable: true,
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.return_all_price;
                            });
                            return count.toFixed(2);
                        }
                }, {
                    field: 'insert_time',
                    title: '退货开单日期',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.insert_time.split('T')[0];
                    }
                }, {
                        field: 'confirm_time',
                        title: '退货确认时间',
                    align: 'center',
                        formatter: function (value, row, index) {
                            return row.confirm_time.replace('T',' ');
                        }
                }]
            });
        });
        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }

        }
        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var return_index = $("#return_index").val();
            var order_name = $("#order_name").val();

            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();

            var searchUrl = "/SaleReturn/GetHistoryData?start_time=" + start_time + "&end_time=" + end_time + "&return_index=" + return_index
                + "&order_name=" + order_name + "&day=" + day + "&month=" + month + "&year=" + year;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Sale/Index">销售管理</a></li>
                            <li class="active">历史退货记录</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>退货单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="return_index" name="return_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SaleReturnManager SM = new SaleReturnManager();
                                                List<string> saleList = SM.SelectAll(1, "2001-01-01", "2222-01-01").GroupBy(s => s.return_index).Select(s => s.Key).ToList();
                                                if (saleList.Count > 0)
                                                {
                                                    for (int i = 0; i < saleList.Count; i++)
                                                    {
                                                        <!option value="@saleList[i]" @if (Model != null) { if (saleList[i] == ViewBag.return_index) { <text> selected</text>}}>@saleList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" value="@ViewBag.order_name" />
                                    </div>
                                    <div class="form-group">
                                        <label>退货开单开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" autocomplete="off" class="form-control" style="width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>退货开单结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" autocomplete="off" class="form-control" style="width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（退货开单日期）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                </div>

                                <br />


                            </div>
                        </div>
                        <div class="card-body">
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.ReturnHistoryIndex.parentNode.parentNode.classList.add("active");
                    _self.$refs.ReturnHistoryIndex.parentNode.parentNode.classList.add("open");
                    _self.$refs.ReturnHistoryIndex.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


