@{
    @model Model.Contact;
    @using Model;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/js/dist/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/js/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(@if(ViewBag.type==0){<text>3</text>}else{<text>1</text>})").addClass("active open")
            $(".sidebar ul li:nth-of-type(@if(ViewBag.type==0){<text>3</text>}else{<text>1</text>}) ul li:nth-of-type(1)").addClass("active")
            $('#submit').click(function () {
                var id = $('#id').val();
                var name = $('#name').val();
                var position = $('#position').val();
                var telephone = $('#telephone').val();
                var email = $('#email').val();
                var customer_id = $('#customer_id').val();
                var type = $('#type').val();
                if (name == "" || position == "" || telephone == "" || email=="") {

                    swal("执行失败 !", "信息不能为空 !", "error");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Contact/EditHandle",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: { id: id, name: name, position: position, telephone: telephone, customer_id: customer_id, email: email },
                        success: function (msg) {
                            if (msg == "Success") {
                                swal({ title: "执行成功!", text: "", type: "success" },
                                    function () { window.location.href = '/Contact/Index?customer_id=@ViewBag.customer_id&type=@ViewBag.type'; });
                            }
                            else {
                                swal("执行失败 !", "请重新提交 !", "error");
                            }
                        },
                        error: function (msg) {
                            swal("数据获取失败 !", "请重新提交 !", "error");
                        }
                    });
                }

            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            @if (ViewBag.type == 0)
                            {
                                <li><a href="/Customer/Index">客户管理</a></li>
                            }
                            else
                            {
                                <li><a href="/Supplier/Index">供应商管理</a></li>
                            }
                            <li><a href="/Contact/Index?customer_id=@ViewBag.customer_id&type=@ViewBag.type">联系人管理</a></li>
                            <li class="active">
                                @{ if (Model == null)
                                    { <text>新增联系人</text>}
                                else
                                { <text>编辑联系人</text>}}
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            @if (ViewBag.type == 0)
                            {
                                <h4>客户信息</h4>
                            }
                            else
                            {
                                <h4>供应商信息</h4>
                            }

                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">公司名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.company_name" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">税号：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.tax_num" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">地址：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@ViewBag.address" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">银行账号：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.account" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">开户行：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.bank" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>
                                @{ if (Model == null)
                                    { <text>新增联系人</text>}
                                else
                                { <text>编辑联系人</text>}}
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-horizontal">
                                    <input type="hidden" value="@ViewBag.customer_id" id="customer_id" name="customer_id" />
                                    <input type="hidden" value="@ViewBag.type" id="type" name="type" />
                                    <input type="hidden" value="@if (Model != null){@Model.id}" id="id" name="id" />
                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">联系人</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="name" name="name" value="@if (Model != null){@Model.name}" @if (Model != null) { <text> readonly</text>}/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">职务</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="position" name="position" value="@if (Model != null){@Model.position}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">手机号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="telephone" name="telephone" value="@if (Model != null){@Model.telephone}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">邮箱</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="email" name="email" value="@if (Model != null){@Model.email}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-5">
                                            <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


