@{
    @model IList<Model.Contact>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            
            $(".sidebar ul li:nth-of-type(@if(ViewBag.type==0){<text>3</text>}else{<text>1</text>})").addClass("active open")
            $(".sidebar ul li:nth-of-type(@if(ViewBag.type==0){<text>3</text>}else{<text>1</text>}) ul li:nth-of-type(1)").addClass("active")
        });

        function deleteTiShi(id, customer_id, type) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/Contact/Del?id=" + id + "&customer_id=" + customer_id+"&type="+type+"",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                id: id, customer_id: customer_id, type: type
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { window.location.href = '/Contact/Index?customer_id=' + customer_id+'&type=' + type+''; });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            @if (ViewBag.type == 0)
                            {
                            <li><a href="/Customer/Index">客户管理</a></li>
                            }
                            else
                            {
                            <li><a href="/Supplier/Index">供应商管理</a></li>
                            }                           
                            <li class="active">联系人信息</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            @if (ViewBag.type == 0)
                            {
                                <h4>客户信息</h4>
                            }
                            else
                            {
                                <h4>供应商信息</h4>
                            }

                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">公司名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.company_name" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">税号：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.tax_num" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">地址：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@ViewBag.address" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">银行账号：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.account" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">开户行：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@ViewBag.bank" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-inline" action="/Contact/Index?customer_id=@ViewBag.customer_id&type=@ViewBag.type" method="post" id="myfrom">
                                <input type="hidden" value="@ViewBag.customer_id" id="customer_id" name="customer_id" />
                                <input type="hidden" value="@ViewBag.type" id="type" name="type" />
                                <div class="form-group">
                                    <label>联系人：</label>
                                    <input id="name" name="name" type="text" class="form-control" style="height:36px" value="@ViewBag.name" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="查询" class="btn btn-primary" />
                                </div>
                                <div class="form-group">
                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                    {
                                    <input type="button" value="新增" class="btn btn-primary" onclick="window.location.href = '/Contact/Edit?customer_id=@ViewBag.customer_id&type=@ViewBag.type'" />
                                    }
                                    
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>联系人</th>
                                        <th>职务</th>
                                        <th>手机号</th>
                                        <th>邮箱</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <th>编辑</th>
                                            <th>删除</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int index = 1;
                                    foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.name</td>
                                        <td>@item.position</td>
                                        <td>@item.telephone</td>
                                        <td>@item.email</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="window.location.href = '/Contact/Edit?id=@item.id&customer_id=@ViewBag.customer_id&type=@ViewBag.type'" value="编辑" />
                                            </td>
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="deleteTiShi(@item.id,@ViewBag.customer_id,@ViewBag.type)" value="删除" />
                                            </td>

                                        }                                       
                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


