@{
    @model IList<Model.Purchase>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(2)").addClass("active open")
            $(".sidebar ul li:nth-of-type(2) ul li:nth-of-type(1)").addClass("active")
            $(".sidebar ul li:nth-of-type(2) ul li:nth-of-type(4)").removeClass("active open")
        });

        function deleteTiShi(id) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/Purchase/Del?id="+id+"",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                order_id: order_id, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { window.location.href = '/Purchase/Index'; });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Purchase/Index">采购管理</a></li>
                            <li class="active">物料采购流水账</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/Purchase/Index" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>采购单号：</label>
                                        <input id="purchase_index" name="purchase_index" type="text" class="form-control" style="height:36px" value="@ViewBag.purchase_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>供应商名称：</label>
                                        <input id="company_name" name="company_name" type="text" class="form-control" style="height:36px" value="@ViewBag.company_name" />
                                    </div>

                                    <div class="form-group">
                                        <label>材料名称：</label>
                                        <input id="material_name" name="material_name" type="text" class="form-control" style="height:36px" value="@ViewBag.material_name" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>
                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                    {
                                    <div class="form-group">
                                        <input type="button" value="新增" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/Purchase/Edit'" />
                                    </div>
                                    }
                                    
                                </div>
                                <br />


                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>采购单号</th>
                                        <th>供应商</th>
                                        <th>分类</th>
                                        <th>物料名称</th>
                                        <th>物料规格</th>
                                        <th>数量</th>
                                        <th>物料单位</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>单价</th>
                                            <th>总价</th>
                                        }

                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <th>编辑</th>
                                            <th>删除</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.purchase_index</td>
                                        <td>@item.company_name</td>
                                        <td>@item.category</td>
                                        <td>@item.material_name</td>
                                        <td>@item.material_spec</td>
                                        <td>@item.material_num</td>
                                        <td>@item.material_unit</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.material_price</td>
                                            <td>@item.material_all_price</td>
                                        }

                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="window.location.href = '/Purchase/Edit?id=@item.id'" value="编辑" />
                                            </td>
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="deleteTiShi(@item.id)" value="删除" />
                                            </td>
                                        }

                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "Purchase", "Index", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


