@{
    @model IList<Model.Order>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .headstyle {
            border: 2px solid black;
        }

        .thstyle {
            border: 2px solid black;
        }



        .bodystyle {
            border: 2px solid black;
        }

        .tdstyle {
            border: 2px solid black;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(4)").addClass("active open")
            $(".sidebar ul li:nth-of-type(4) ul li:nth-of-type(2)").addClass("active")
        });
        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }
        }

        function doPrint() {
            window.print();
            return false;
        };

        window.onbeforeprint = function () {

            $(".sidebar").hide()
            $(".header").hide()
            $("#Data1").show()
            $("#wrap").hide()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", 0)
        }
        window.onafterprint = function () {
            $("#Data1").hide()
            $("#wrap").show()
            $(".sidebar").show()
            $(".header").show()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", "250px")
        }
    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Order/Index">订单管理</a></li>
                            <li><a href="/Order/HistoryIndex">历史客户订单</a></li>
                            <li class="active">订单列表</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/Order/HistoryIndex" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>&emsp;&emsp;&emsp;订单序号：</label>
                                        <input id="order_index" name="order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户单号：</label>
                                        <input id="company_order_index" name="company_order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.company_order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;采购人员：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_person" name="purchase_person" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                ContactManager ConM = new ContactManager();
                                                List<string> obList = ConM.SelectAllContact().GroupBy(s => s.name).Select(s => s.Key).ToList();
                                                if (obList.Count > 0)
                                                {
                                                    for (int i = 0; i < obList.Count; i++)
                                                    {
                                                        <!option value="@obList[i]" @if (Model != null) { if (obList[i] == ViewBag.purchase_person) { <text> selected</text>}}>@obList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" style="width:160px" value="@ViewBag.order_name" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>下单开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" autocomplete="off" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>下单结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" autocomplete="off" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货开始时间：</label>
                                        <input id="deliver_start_time" name="deliver_start_time" type="text" class="form-control" autocomplete="off" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货结束时间：</label>
                                        <input id="deliver_end_time" name="deliver_end_time" type="text" class="form-control" autocomplete="off" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（下单日期）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                        <input type="button" value="数据打印" class="btn btn-primary" onclick="doPrint()" style="width:80px" />
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>订单序号</th>
                                        <th>下单日期</th>
                                        <th>客户名称</th>
                                        <th>客户订单号</th>
                                        <th>名称规格</th>
                                        <th>数量</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>单价</th>
                                            <th>金额</th>
                                        }

                                        <th>开单数</th>
                                        <th>退单数</th>
                                        <th>交货日期</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>采购员</th>
                                        }
                                        <th>图纸</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@index</td>
                                                <td>@item.order_index</td>
                                                <td>@item.order_time.ToString("yyyy-MM-dd")</td>
                                                <td>@item.company_name</td>
                                                <td>@item.company_order_index</td>
                                                <td>@item.order_name</td>
                                                <td>@item.order_num</td>
                                                @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                                {
                                                    <td>@item.order_price</td>
                                                    <td>@item.order_all_price</td>
                                                }

                                                <td style="color:darkseagreen">@item.open_num</td>
                                                <td style="color:red">@item.tui_num</td>
                                                <td>@item.deliver_time.ToString("yyyy-MM-dd")</td>
                                                @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                                {
                                                    <td>@item.purchase_person</td>
                                                }
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.order_picture))
                                                    {
                                                        <a href="/src/Files/@item.order_picture" target="_blank">查看</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:return false;" target="_blank">暂无图纸</a>
                                                    }
                                                </td>

                                            </tr>
                                            index++;
                                        }
                                        <tr>
                                            <td colspan="6" style="color:green;font-weight:bold">合计</td>
                                            <td style="font-weight:bold">@ViewBag.allNum</td>
                                            <td></td>
                                            <td style="font-weight:bold">@ViewBag.allMoney</td>

                                            <td style="font-weight:bold">@ViewBag.allOpenNum</td>
                                            <td style="font-weight:bold">@ViewBag.allTuiNum</td>
                                            <td colspan="5"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "Order", "HistoryIndex", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
    <div class="card alert" id="Data1" style="margin: 30px;display: none">

        <div class="card-body">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr style="font-weight:bold">
                        <td style="font-size:26px;text-align:center;padding:2px;border:0;" colspan="6"><span id="deliver_head">历史客户订单</span></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-responsive">
                <thead class="headstyle">
                    <tr>
                        <th class="thstyle">编号</th>
                        <th class="thstyle">订单序号</th>
                        <th class="thstyle">下单日期</th>
                        <th class="thstyle">客户名称</th>
                        <th class="thstyle">客户订单号</th>
                        <th class="thstyle">名称规格</th>
                        <th class="thstyle">数量</th>
                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                        {
                            <th class="thstyle">单价</th>
                            <th class="thstyle">金额</th>
                        }

                        <th class="thstyle">开单数</th>
                        <th class="thstyle">退单数</th>
                        <th class="thstyle">交货日期</th>
                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                        {
                            <th class="thstyle">采购员</th>
                        }
                    </tr>
                </thead>
                <tbody class="bodystyle">
                    @{
                        int index1 = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="tdstyle">@index1</td>
                                <td class="tdstyle">@item.order_index</td>
                                <td class="tdstyle">@item.order_time.ToString("yyyy-MM-dd")</td>
                                <td class="tdstyle">@item.company_name</td>
                                <td class="tdstyle">@item.company_order_index</td>
                                <td class="tdstyle">@item.order_name</td>
                                <td class="tdstyle">@item.order_num</td>
                                @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                {
                                    <td class="tdstyle">@item.order_price</td>
                                    <td class="tdstyle">@item.order_all_price</td>
                                }

                                <td class="tdstyle" style="color:darkseagreen">@item.open_num</td>
                                <td class="tdstyle" style="color:red">@item.tui_num</td>
                                <td class="tdstyle">@item.deliver_time.ToString("yyyy-MM-dd")</td>
                                @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                {
                                    <td class="tdstyle">@item.purchase_person</td>
                                }

                            </tr>
                            index1++;
                        }
                        <tr>
                            <td class="tdstyle" colspan="6" style="color:green;font-weight:bold">合计</td>
                            <td class="tdstyle" style="font-weight:bold">@ViewBag.allNum</td>
                            <td class="tdstyle"></td>
                            <td class="tdstyle" style="font-weight:bold">@ViewBag.allMoney</td>

                            <td class="tdstyle" style="font-weight:bold">@ViewBag.allOpenNum</td>
                            <td class="tdstyle" style="font-weight:bold">@ViewBag.allTuiNum</td>
                            <td class="tdstyle" colspan="5"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


