@{
    @model IList<Model.Order>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(4)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(4) ul li:nth-of-type(2)").addClass("active");
            $("#myTable").bootstrapTable({
                url: '/Order/GetHistoryData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '历史客户订单',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'order_index',
                    title: '订单序号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_time',
                    title: '下单日期',
                    align: 'center',
                    sortable: true,
                    width: 100,
                    formatter: function (value, row, index) {
                        return row.order_time.split('T')[0];
                    }
                }, {
                    field: 'company_name',
                    title: '客户名称',
                    align: 'center',
                    sortable: true,
                    width: 240
                }, {
                    field: 'company_order_index',
                    title: '客户单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_name',
                    title: '名称规格',
                        align: 'center',
                        width: 200,
                    sortable: true
                }, {
                    field: 'order_num',
                    title: '数量',
                    align: 'center',
                        sortable: true,
                        width: 50,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.order_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'order_price',
                    title: '单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_all_price',
                    title: '金额',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.order_all_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'open_num',
                    title: '开单数',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return "<span style='color:darkseagreen'>" + row.open_num + "</span>"
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.open_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'tui_num',
                    title: '退单数',
                    align: 'center',
                        sortable: true,
                    width: 50,
                    formatter: function (value, row, index) {
                        return "<span style='color:red'>" + row.tui_num + "</span>"
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.tui_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'deliver_time',
                    title: '交货日期',
                    align: 'center',
                    sortable: true,
                    width: 100,
                    formatter: function (value, row, index) {
                        return row.deliver_time.split('T')[0];
                    }
                }, {
                    field: 'purchase_person',
                    title: '采购员',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_picture',
                    title: '图纸',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var result = "";
                        if (row.order_picture == "" || row.order_picture == null || row.order_picture == undefined) {
                            result += "<a href='#'>暂无图纸</a>";

                        } else {
                            result += "<a href='/src/Files" + row.order_picture + "' target='_blank'>查看</a>";
                        }

                        return result;
                    }
                }, {
                    field: 'remark',
                    title: '备注',
                    align: 'center',
                    sortable: true,
                    width: 100
                }]
            });
        });
        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }
        }

        function doPrint() {
            window.print();
            return false;
        };

        window.onbeforeprint = function () {

            $(".sidebar").hide()
            $(".header").hide()
            $("#Data1").show()
            $("#wrap").hide()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", 0)
        }
        window.onafterprint = function () {
            $("#Data1").hide()
            $("#wrap").show()
            $(".sidebar").show()
            $(".header").show()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", "250px")
        }

        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var deliver_start_time = $("#deliver_start_time").val();
            var deliver_end_time = $("#deliver_end_time").val();
            var company_name = $("#company_name").val();
            var order_index = $("#order_index").val();
            var company_order_index = $("#company_order_index").val();
            var purchase_person = $("#purchase_person").val();
            var order_name = $("#order_name").val();
            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();
            var searchUrl = "/Order/GetHistoryData?start_time=" + start_time + "&end_time=" + end_time + "&deliver_start_time=" + deliver_start_time + "&deliver_end_time=" + deliver_end_time
                + "&company_name=" + company_name + "&order_index=" + order_index + "&company_order_index=" + company_order_index + "&purchase_person=" + purchase_person
                + "&order_name=" + order_name + "&day=" + day + "&month=" + month + "&year=" + year;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Order/Index">订单管理</a></li>
                            <li><a href="/Order/HistoryIndex">历史客户订单</a></li>
                            <li class="active">订单列表</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>&emsp;&emsp;&emsp;订单序号：</label>
                                        <input id="order_index" name="order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户单号：</label>
                                        <input id="company_order_index" name="company_order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.company_order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;采购人员：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_person" name="purchase_person" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                ContactManager ConM = new ContactManager();
                                                List<string> obList = ConM.SelectAllContact().GroupBy(s => s.name).Select(s => s.Key).ToList();
                                                if (obList.Count > 0)
                                                {
                                                    for (int i = 0; i < obList.Count; i++)
                                                    {
                                                        <!option value="@obList[i]" @if (Model != null) { if (obList[i] == ViewBag.purchase_person) { <text> selected</text>}}>@obList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" style="width:160px" value="@ViewBag.order_name" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>下单开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" autocomplete="off" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>下单结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" autocomplete="off" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货开始时间：</label>
                                        <input id="deliver_start_time" name="deliver_start_time" type="text" class="form-control" autocomplete="off" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货结束时间：</label>
                                        <input id="deliver_end_time" name="deliver_end_time" type="text" class="form-control" autocomplete="off" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（下单日期）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.OrderHistory.parentNode.parentNode.classList.add("active");
                    _self.$refs.OrderHistory.parentNode.parentNode.classList.add("open");
                    _self.$refs.OrderHistory.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


