@{
    @model IList<Model.Order>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/js/dist/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/js/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(4)").addClass("active open")
            $(".sidebar ul li:nth-of-type(4) ul li:nth-of-type(1)").addClass("active")
        });

        function deleteTiShi(order_id, seq_id) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/OrderSeq/Del?order_id=" + order_id + "&seq_id=" + seq_id + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                order_id: order_id, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { window.location.href = '/Order/Index'; });
                                }
                                else if (msg == "Existence") {
                                    swal("该订单已有送货记录!", "请先删除送货记录！", "error");
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Order/Index">客户订单管理</a></li>
                            <li class="active">订单列表</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/Order/Index" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>&emsp;&emsp;&emsp;订单序号：</label>
                                        <input id="order_index" name="order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户单号：</label>
                                        <input id="company_order_index" name="company_order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.company_order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;采购人员：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_person" name="purchase_person" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                ContactManager ConM = new ContactManager();
                                                List<Contact> obList = ConM.SelectAllContact();
                                                if (obList.Count > 0)
                                                {
                                                    for (int i = 0; i < obList.Count; i++)
                                                    {
                                                        <!option value="@obList[i].name" @if (Model != null) { if (obList[i].name == ViewBag.purchase_person) { <text> selected</text>}}>@obList[i].name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>下单开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>下单结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货开始时间：</label>
                                        <input id="deliver_start_time" name="deliver_start_time" type="text" class="form-control" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货结束时间：</label>
                                        <input id="deliver_end_time" name="deliver_end_time" type="text" class="form-control" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>
                                    <div class="form-group">
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <input type="button" value="新增" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/Order/Edit'" />
                                        }

                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>订单序号</th>
                                        <th>下单日期</th>
                                        <th>客户名称</th>
                                        <th>客户单号</th>
                                        <th>名称规格</th>

                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>单价</th>
                                            <th>金额</th>
                                        }
                                        <th>数量</th>
                                        <th>开单数</th>
                                        <th>退单数</th>
                                        <th>剩余数</th>
                                        <th>交货日期</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>采购员</th>
                                        }
                                        <th>图纸</th>
                                        <th>编辑</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int index = 1;
                                    foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.order_index</td>
                                        <td>@item.order_time.ToString("yyyy/MM/dd")</td>
                                        <td>@item.company_name</td>
                                        <td>@item.company_order_index</td>
                                        <td>@item.order_name</td>

                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.order_price</td>
                                            <td>@item.order_all_price</td>
                                        }
                                        <td>@item.order_num</td>
                                        <td style="color:darkseagreen">@item.open_num</td>
                                        <td style="color:red">@item.tui_num</td>
                                        <td style="color:orange">@item.remain_num</td>
                                        <td>@item.deliver_time.ToString("yyyy/MM/dd")</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.purchase_person</td>
                                        }
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.order_picture))
                                            {
                                                <a href="/src/Files/@item.order_picture" target="_blank">查看</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:return false;" target="_blank">暂无图纸</a>
                                            }
                                        </td>

                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="window.location.href = '/OrderSeq/Edit?order_id=@item.id&seq_id=@item.seq_id'" value="编辑" />
                                            </td>
                                        }
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="deleteTiShi(@item.id,@item.seq_id)" value="删除" />
                                            </td>
                                        }

                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "Order", "Index", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


