@{
    @model IList<Model.Order>
    @using Model;
    @using BLL;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(4)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(4) ul li:nth-of-type(1)").addClass("active")

            var company_name = $("#search_company_name").val();
            var order_index = $("#search_order_index").val();
            var company_order_index = $("#search_company_order_index").val();
            var purchase_person = $("#search_purchase_person").val();
            var order_name = $("#search_order_name").val();
            var start_time = $("#search_start_time").val();
            var end_time = $("#search_end_time").val();
            var deliver_start_time = $("#search_deliver_start_time").val();
            var deliver_end_time = $("#search_deliver_end_time").val();

            var searchUrl = "/Order/GetData?start_time=" + start_time + "&end_time=" + end_time + "&deliver_start_time=" + deliver_start_time + "&deliver_end_time=" + deliver_end_time
                + "&company_name=" + company_name + "&order_index=" + order_index + "&company_order_index=" + company_order_index + "&purchase_person=" + purchase_person
                + "&order_name=" + order_name;

            $("#myTable").bootstrapTable({
                url: searchUrl,
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbar: "#toolbar",
                toolbarAlign: 'left',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '订单列表',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'order_index',
                    title: '订单序号',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += (item.open_num - item.tui_num) * item.order_price;
                        });
                        return "已开单金额：" + count.toFixed(2);
                    }
                }, {
                    field: 'order_time',
                    title: '下单日期',
                    align: 'center',
                    sortable: true,
                    width: 100,
                    formatter: function (value, row, index) {
                        return row.order_time.split('T')[0];
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += (item.order_num - item.open_num + item.tui_num) * item.order_price;
                        });
                        return "未开单金额：" + count.toFixed(2);
                    }
                }, {
                    field: 'company_name',
                    title: '客户名称',
                    align: 'center',
                    sortable: true,
                    width: 240
                }, {
                    field: 'company_order_index',
                    title: '客户单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_name',
                    title: '名称规格',
                    align: 'center',
                    width: 200,
                    sortable: true
                }, {
                    field: 'order_num',
                    title: '数量',
                    align: 'center',
                    width: 50,
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.order_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'unit',
                    title: '单位',
                    align: 'center',
                    width: 50,
                }, {
                    field: 'order_price',
                    title: '单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_all_price',
                    title: '金额',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.order_all_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'open_num',
                    title: '开单数',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return "<span style='color:darkseagreen'>" + row.open_num + "</span>"
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.open_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'tui_num',
                    title: '退单数',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return "<span style='color:red'>" + row.tui_num + "</span>"
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.tui_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'remain',
                    title: '剩余数',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var res = row.order_num - row.open_num + row.tui_num;
                        return "<span style='color:orange'>" + res + "</span>";
                    },
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.order_num - item.open_num + item.tui_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'deliver_time',
                    title: '交货日期',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        // 目标时区，东9区
                        let targetTimezone = -8;
                        // 当前时区与中时区时差，以min为维度
                        let _dif = new Date().getTimezoneOffset();
                        // 本地时区时间 + 时差  = 中时区时间
                        // 目标时区时间 + 时差 = 中时区时间
                        // 目标时区时间 = 本地时区时间 + 本地时区时差 - 目标时区时差
                        // 东9区时间
                        let east8time = new Date().getTime() + _dif * 60 * 1000 - (targetTimezone * 60 * 60 * 1000)
                        var nowDate = new Date(east8time);
                        var realDate = new Date(row.deliver_time);

                        if (realDate <= nowDate) {
                            return "<span style='color:red'>" + row.deliver_time.split('T')[0] + "<span>";
                        } else {
                            return row.deliver_time.split('T')[0];
                        }

                    }
                }, {
                    field: 'purchase_person',
                    title: '采购员',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'order_picture',
                    title: '图纸',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var result = "";
                        if (row.order_picture == "" || row.order_picture == null || row.order_picture == undefined) {
                            result += "<a href='#' >暂无图纸</a>";

                        } else {
                            result += "<a href='/src/Files" + row.order_picture + "' target='_blank'>查看</a>";
                        }

                        return result;
                    }
                }, {
                    field: 'remark',
                    title: '备注',
                    align: 'center',
                    width: 150,
                    sortable: true
                }, {
                    field: 'edit',
                    title: '编辑',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var result = "";
                        result += "<input type='button' class='btn btn-primary' onclick=Edit(" + row.id + "," + row.seq_id + ") value='编辑'/>";
                        return result;
                    }
                }, {
                    field: 'delete',
                    title: '删除',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var result = "";
                        result += "<input type='button' class='btn btn-primary' onclick=\"deleteTiShi(" + row.id + "," + row.seq_id + ")\" value='删除' />";
                        return result;
                    }
                }]
            });
        });

        function Edit(id, seq_id) {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var deliver_start_time = $("#deliver_start_time").val();
            var deliver_end_time = $("#deliver_end_time").val();
            var company_name = $("#company_name").val();
            var order_index = $("#order_index").val();
            var company_order_index = $("#company_order_index").val();
            var purchase_person = $("#purchase_person").val();
            var order_name = $("#order_name").val();

            window.location.href = "/OrderSeq/Edit?order_id=" + id + "&seq_id=" + seq_id + "&start_time=" + start_time + "&end_time=" + end_time + "&deliver_start_time=" + deliver_start_time + "&deliver_end_time=" + deliver_end_time
                + "&company_name=" + company_name + "&order_index=" + order_index + "&company_order_index=" + company_order_index + "&purchase_person=" + purchase_person
                + "&order_name=" + order_name;
        }

        function deleteTiShi(order_id, seq_id) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/OrderSeq/Del?order_id=" + order_id + "&seq_id=" + seq_id + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                order_id: order_id, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { Search(); });
                                }
                                else if (msg == "Existence") {
                                    swal("该订单已有送货记录!", "请先删除送货记录！", "error");
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var deliver_start_time = $("#deliver_start_time").val();
            var deliver_end_time = $("#deliver_end_time").val();
            var company_name = $("#company_name").val();
            var order_index = $("#order_index").val();
            var company_order_index = $("#company_order_index").val();
            var purchase_person = $("#purchase_person").val();
            var order_name = $("#order_name").val();
            var searchUrl = "/Order/GetData?start_time=" + start_time + "&end_time=" + end_time + "&deliver_start_time=" + deliver_start_time + "&deliver_end_time=" + deliver_end_time
                + "&company_name=" + company_name + "&order_index=" + order_index + "&company_order_index=" + company_order_index + "&purchase_person=" + purchase_person
                + "&order_name=" + order_name;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Order/Index">客户订单管理</a></li>
                            <li class="active">订单列表</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <input type="hidden" id="search_company_name" value="@ViewBag.company_name" />
                                <input type="hidden" id="search_order_index" value="@ViewBag.order_index" />
                                <input type="hidden" id="search_company_order_index" value="@ViewBag.company_order_index" />
                                <input type="hidden" id="search_purchase_person" value="@ViewBag.purchase_person" />
                                <input type="hidden" id="search_order_name" value="@ViewBag.order_name" />
                                <input type="hidden" id="search_start_time" value="@ViewBag.start_time" />
                                <input type="hidden" id="search_end_time" value="@ViewBag.end_time" />
                                <input type="hidden" id="search_deliver_start_time" value="@ViewBag.deliver_start_time" />
                                <input type="hidden" id="search_deliver_end_time" value="@ViewBag.deliver_end_time" />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>&emsp;&emsp;&emsp;订单序号：</label>
                                        <input id="order_index" name="order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户单号：</label>
                                        <input id="company_order_index" name="company_order_index" type="text" class="form-control" style="width:160px" value="@ViewBag.company_order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;客户名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 0);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;采购人员：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_person" name="purchase_person" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                ContactManager ConM = new ContactManager();
                                                List<string> obList = ConM.SelectAllContact().GroupBy(s => s.name).Select(s => s.Key).ToList();
                                                if (obList.Count > 0)
                                                {
                                                    for (int i = 0; i < obList.Count; i++)
                                                    {
                                                        <!option value="@obList[i]" @if (obList[i] == ViewBag.purchase_person) { <text> selected</text>}>@obList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>&emsp;&emsp;名称规格：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" style="width:160px" value="@ViewBag.order_name" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>下单开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" autocomplete="off" class="form-control" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>下单结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" autocomplete="off" class="form-control" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货开始时间：</label>
                                        <input id="deliver_start_time" name="deliver_start_time" autocomplete="off" type="text" class="form-control" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>交货结束时间：</label>
                                        <input id="deliver_end_time" name="deliver_end_time" autocomplete="off" type="text" class="form-control" style="width:160px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_end_time" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>
                                    <div class="form-group">
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <input type="button" value="新增" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/Order/Edit'" />
                                        }

                                    </div>
                                </div>
                            </div>
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.Order.parentNode.parentNode.classList.add("active");
                    _self.$refs.Order.parentNode.parentNode.classList.add("open");
                    _self.$refs.Order.classList.add("active");
                })
            }
        })
    </script>
</body>
</html>


