@{
    @model IList<Model.Order>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(4)").addClass("active open")
            $(".sidebar ul li:nth-of-type(4) ul li:nth-of-type(1)").addClass("active")
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Order/Index">客户订单管理</a></li>
                            <li class="active">订单列表</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/Order/Index" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>下单开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" style="height:36px;width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>下单结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" style="height:36px;width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>出货开始时间：</label>
                                        <input id="deliver_start_time" name="deliver_start_time" type="text" class="form-control" style="height:36px;width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>出货结束时间：</label>
                                        <input id="deliver_end_time" name="deliver_end_time" type="text" class="form-control" style="height:36px;width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.deliver_end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>订&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
                                        <input id="order_index" name="order_index" type="text" class="form-control" style="height:36px;width:180px" value="@ViewBag.order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>客&nbsp;&nbsp;户&nbsp;&nbsp;单&nbsp;&nbsp;&nbsp;号：</label>
                                        <input id="company_order_index" name="company_order_index" type="text" class="form-control" style="height:36px;width:180px" value="@ViewBag.company_order_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>公&nbsp;&nbsp;&nbsp;司&nbsp;&nbsp;&nbsp;名&nbsp;&nbsp;&nbsp;称：</label>
                                        <input id="company_name" name="company_name" type="text" class="form-control" style="height:36px;width:180px" value="@ViewBag.company_name" />
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>
                                    <div class="form-group">
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <input type="button" value="新增" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/Order/Edit'" />
                                        }

                                    </div>
                                </div>
                                <br />                              


                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>订单号</th>
                                        <th>客户订单号</th>
                                        <th>公司名称</th>
                                        <th>下单时间</th>
                                        <th>需求出货时间</th>
                                        <th>下单总数</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>下单总价</th>
                                        }
                                        <th>开单总量</th>
                                        <th>退单总量</th>
                                        <th>剩余总量</th>
                                        <th>下单详情</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int index = 1;
                                    foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.order_index</td>
                                        <td>@item.company_order_index</td>
                                        <td>@item.company_name</td>
                                        <td>@item.order_time.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            @if (item.deliver_time != item.insert_time)
                                            {
                                                <text>@(item.deliver_time.ToString("yyyy-MM-dd") + "*")</text>
                                            }
                                            else
                                            {
                                                <text>@(item.deliver_time.ToString("yyyy-MM-dd"))</text>
                                            }

                                        </td>
                                        <td>@item.order_num</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.order_all_price</td>
                                        }
                                        <td style="color:darkseagreen">@item.open_num</td>
                                        <td style="color:red">@item.tui_num</td>
                                        <td style="color:orange">@item.remain_num</td>
                                        <td>
                                            <input type="button" class="btn btn-primary" onclick="window.location.href = '/OrderSeq/Index?order_id=@item.id'" value="下单详情" />
                                        </td>

                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "Order", "Index", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


