@{
    @model IList<Model.Purchase>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/js/dist/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/js/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(2)").addClass("active open")
            $(".sidebar ul li:nth-of-type(2) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(2) ul li:nth-of-type(3)").addClass("active")

        });

        function confirmTiShi(id) {
            swal({
                title: "是否取消确认 ?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是",
                cancelButtonText: "否",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/Deliver/SupplierConfirm?id=" + id + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                id: id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已取消 !", text: "", type: "success" },
                                        function () { window.location.href = '/Deliver/HistoryIndex'; });
                                }
                                else {
                                    swal("执行失败 !", "", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "", "error");
                            }
                        });
                    }
                    else {
                        swal("操作已终止 !", "该记录已保留 !", "error");
                    }
                });
        }

        function CheckOrCancleAll(obj)
        {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }

        }

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Deliver/Index">物料购入管理</a></li>
                            <li class="active">历史购入清单</li>

                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/Deliver/HistoryIndex" method="post" id="myfrom">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>购入单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_index" name="purchase_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                PurchaseManager PM = new PurchaseManager();
                                                List<Purchase> deliverList = PM.SelectHistory("2001-01-01", "2222-01-01", "0001-01-01", "2222-01-01");
                                                if (deliverList.Count > 0)
                                                {
                                                    for (int i = 0; i < deliverList.Count; i++)
                                                    {
                                                        <!option value="@deliverList[i].purchase_index" @if (Model != null) { if (deliverList[i].purchase_index == ViewBag.purchase_index) { <text> selected</text>}}>@deliverList[i].purchase_index</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>供应商名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 1);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>送货单号：</label>
                                        <input id="deliver_index" name="deliver_index" type="text" class="form-control" value="@ViewBag.deliver_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>物料名称：</label>
                                        <input id="material_name" name="material_name" type="text" class="form-control" value="@ViewBag.material_name" />
                                    </div>


                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>送货开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" style="width:190px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>送货结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" style="width:190px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>确认开始时间：</label>
                                        <input id="confirm_start_time" name="confirm_start_time" type="text" class="form-control" style="width:190px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.confirm_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>确认结束时间：</label>
                                        <input id="confirm_end_time" name="confirm_end_time" type="text" class="form-control" style="width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.confirm_end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">

                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（确认结款时间）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>

                                </div>
                                <br />


                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>购入单号</th>
                                        <th>供应商</th>
                                        <th>分类</th>
                                        <th>送货单号</th>
                                        <th>送货时间</th>
                                        <th>物料名称</th>
                                        <th>物料规格</th>
                                        <th>购入数量</th>
                                        <th>物料单位</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>单价</th>
                                            <th>总价</th>
                                            <th>结款与否</th>
                                            <th>结款方式</th>
                                            <th>确认结款时间</th>
                                        }
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Developer)
                                        {
                                            <th>取消确认</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.purchase_index</td>
                                        <td>@item.company_name</td>
                                        <td>@item.category</td>
                                        <td>@item.deliver_index</td>
                                        <td>@item.deliver_time.ToString("yyyy-MM-dd")</td>
                                        <td>@item.material_name</td>
                                        <td>@item.material_spec</td>
                                        <td>@item.material_num</td>
                                        <td>@item.material_unit</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.material_price</td>
                                            <td>@item.material_all_price</td>
                                            @if (item.money_onoff == 0)
                                            {
                                                <td style="color:red">未结款</td>
                                            }
                                            else
                                            {
                                                <td style="color:green"> 已结款</td>
                                            }
                                            @if (item.money_way == 0)
                                            {
                                                <td></td>
                                            }
                                            else if (item.money_way == 1)
                                            {
                                                <td style="color:green">月结</td>
                                            }
                                            else if (item.money_way == 2)
                                            {
                                                <td style="color:green">现金</td>
                                            }
                                            else
                                            {
                                                <td style="color:green">小额支付</td>
                                            }
                                            <td>@item.confirm_time.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                        }
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Developer)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-default" onclick="confirmTiShi(@item.id)" value="取消确认" />
                                            </td>
                                        }

                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "Deliver", "HistoryIndex", true))</div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


