@{
    @model IList<Model.Purchase>
    @using Model;
    @using BLL;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(2)").addClass("active open")
            $(".sidebar ul li:nth-of-type(2) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(2) ul li:nth-of-type(3)").addClass("active")
            $("#myTable").bootstrapTable({
                url: '/Deliver/GetHistoryData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbarAlign: 'right',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '历史购入清单',//下载文件名称
                },
                columns: [{
                    field: 'no',
                    title: '编号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: function (data) {
                        return "汇总";
                    }
                }, {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'purchase_index',
                    title: '购入单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'company_name',
                    title: '供应商',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'category',
                    title: '分类',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_index',
                    title: '送货单号',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'deliver_time',
                    title: '送货时间',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.deliver_time.split('T')[0];
                    }
                }, {
                    field: 'material_name',
                    title: '物料名称',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'material_spec',
                    title: '物料规格',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'material_num',
                    title: '购入数量',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.material_num;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'material_unit',
                    title: '物料单位',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'material_price',
                    title: '单价',
                    align: 'center',
                    sortable: true
                }, {
                    field: 'material_all_price',
                    title: '总价',
                    align: 'center',
                    sortable: true,
                    footerFormatter: function (data) {
                        var count = 0;
                        $.each(data, function (index, item) {
                            count += item.material_all_price;
                        });
                        return count.toFixed(2);
                    }
                }, {
                    field: 'money_onoff',
                    title: '结款与否',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (row.money_onoff == 0) {
                            return "<span style='color:red'>未结款</span>";

                        } else {
                            return "<span style='color:green'>已结款</span>";
                        }
                    }
                }, {
                    field: 'money_way',
                    title: '结款方式',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (row.money_way == 0) {
                            return "";

                        } else if (row.money_way == 1) {
                            return "月结";
                        } else if (row.money_way == 2) {
                            return "现金";
                        } else {
                            return "小额支付";
                        }
                    }
                    },{
                        field: 'confirm_time',
                        title: '确认结款时间',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.confirm_time.replace('T', ' ');
                        }
                    }, {
                    field: 'edit',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var result = "";
                        result += "<input type='button' class='btn btn-primary' onclick='confirmTiShi(" + row.id + ")' value='取消确认' />";
                        return result;
                    }
                }]
            });
        });

        function confirmTiShi(id) {
            swal({
                title: "是否取消确认 ?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是",
                cancelButtonText: "否",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/Deliver/SupplierConfirm?id=" + id + "",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                id: id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已取消 !", text: "", type: "success" },
                                        function () { Search(); });
                                }
                                else {
                                    swal("执行失败 !", "", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "", "error");
                            }
                        });
                    }
                    else {
                        swal("操作已终止 !", "该记录已保留 !", "error");
                    }
                });
        }

        function CheckOrCancleAll(obj) {
            if (obj.is(":checked")) {
                $('input.form-control').prop('checked', false);
                obj.prop('checked', true);
                if (obj.attr('name') == "day") {
                    document.getElementById("day").value = "1";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "month") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "1";
                    document.getElementById("year").value = "0";
                }
                else if (obj.attr('name') == "year") {
                    document.getElementById("day").value = "0";
                    document.getElementById("month").value = "0";
                    document.getElementById("year").value = "1";
                }
            }
            else {
                document.getElementById("day").value = "0";
                document.getElementById("month").value = "0";
                document.getElementById("year").value = "0";
            }

        }

        function doPrint() {
            window.print();
            return false;
        };

        window.onbeforeprint = function () {

            $(".sidebar").hide()
            $(".header").hide()
            $("#Data1").show()
            $("#wrap").hide()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", 0)
        }
        window.onafterprint = function () {
            $("#Data1").hide()
            $("#wrap").show()
            $(".sidebar").show()
            $(".header").show()
            $(".sidebar.sidebar-shrink ~ .content-wrap").css("margin-left", "250px")
        }

        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var company_name = $("#company_name").val();
            var purchase_index = $("#purchase_index").val();
            var material_name = $("#material_name").val();
            var deliver_index = $("#deliver_index").val();
            var category = $("#category").val();
            var confirm_start_time = $("#confirm_start_time").val();
            var confirm_end_time = $("#confirm_end_time").val();
            var day = $("#day").val();
            var month = $("#month").val();
            var year = $("#year").val();

            var searchUrl = "/Deliver/GetHistoryData?start_time=" + start_time + "&end_time=" + end_time + "&company_name=" + company_name + "&purchase_index=" + purchase_index
                + "&material_name=" + material_name + "&deliver_index=" + deliver_index + "&category=" + category + "&confirm_start_time=" + confirm_start_time
                + "&confirm_end_time=" + confirm_end_time + "&day=" + day + "&month=" + month + "&year=" + year;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid" id="wrap">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Deliver/Index">物料购入管理</a></li>
                            <li class="active">历史购入清单</li>

                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>购入单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_index" name="purchase_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                PurchaseManager PM = new PurchaseManager();
                                                List<string> deliverList = PM.SelectHistory("2001-01-01", "2222-01-01", "0001-01-01", "2222-01-01").GroupBy(s => s.purchase_index).Select(s => s.Key).ToList();
                                                if (deliverList.Count > 0)
                                                {
                                                    for (int i = 0; i < deliverList.Count; i++)
                                                    {
                                                        <!option value="@deliverList[i]" @if (Model != null) { if (deliverList[i] == ViewBag.purchase_index) { <text> selected</text>}}>@deliverList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>供应商名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 1);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>送货单号：</label>
                                        <input id="deliver_index" name="deliver_index" type="text" class="form-control" value="@ViewBag.deliver_index" />
                                    </div>
                                    <div class="form-group">
                                        <label>分类：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="category" name="category" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SettingManager SM = new SettingManager();
                                                List<Setting> sList = SM.SelectConfigList(2);
                                                if (sList.Count > 0)
                                                {
                                                    for (int i = 0; i < sList.Count; i++)
                                                    {
                                                        <!option value="@sList[i].config_list" @if (Model != null) { if (sList[i].config_list == ViewBag.category) { <text> selected</text>}}>@sList[i].config_list</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>物料名称：</label>
                                        <input id="material_name" name="material_name" type="text" class="form-control" value="@ViewBag.material_name" />
                                    </div>


                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>送货开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" autocomplete="off" style="width:190px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>送货结束时间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" autocomplete="off" style="width:190px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>确认开始时间：</label>
                                        <input id="confirm_start_time" name="confirm_start_time" type="text" class="form-control" autocomplete="off" style="width:190px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.confirm_start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>确认结束时间：</label>
                                        <input id="confirm_end_time" name="confirm_end_time" type="text" class="form-control" autocomplete="off" style="width:180px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.confirm_end_time" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-inline">

                                    <div class="form-group">
                                        <label>本日</label>
                                        <input id="day" name="day" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.day == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本月</label>
                                        <input id="month" name="month" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.month == "1") { <text> checked</text> } />
                                    </div>
                                    <div class="form-group">
                                        <label>本年</label>
                                        <input id="year" name="year" type="checkbox" class="form-control" onclick="CheckOrCancleAll($(this))" style="width:16px" value="0" @if (ViewBag.year == "1") { <text> checked</text> } />
                                        <label>（确认结款时间）</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>

                                </div>
                                <br />


                            </div>
                        </div>
                        <div class="card-body">
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


