@{
    @model IList<Model.Purchase>
    @using Model;
    @using BLL;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {
            //$(".sidebar ul li:nth-of-type(2)").addClass("active open")
            //$(".sidebar ul li:nth-of-type(2) ul li").removeClass()
            //$(".sidebar ul li:nth-of-type(2) ul li:nth-of-type(2)").addClass("active")
            $("#myTable").bootstrapTable({
                url: '/Deliver/GetSupplierData',
                method: 'GET',
                theadClasses: "thead-blue",
                pagination: true,
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 50],
                undefinedText: '---',
                paginationDetailHAlign: 'left',
                toolbar:"#toolbar",
                toolbarAlign: 'left',
                showFooter: true,
                showExport: true, //是否显示导出
                exportDataType: "all", //basic', 'all', 'selected'.
                exportTypes: ['excel'],
                exportOptions: {//导出设置
                    fileName: '供应商结款',//下载文件名称
                },
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'no',
                        title: '编号',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return index + 1;
                        },
                        footerFormatter: function (data) {
                            return "汇总";
                        }
                    }, {
                        field: 'id',
                        title: 'id',
                        visible: false
                    }, {
                        field: 'purchase_index',
                        title: '购入单号',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'company_name',
                        title: '供应商',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'category',
                        title: '分类',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'deliver_index',
                        title: '送货单号',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'deliver_time',
                        title: '送货时间',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return row.deliver_time.split('T')[0];
                        }
                    }, {
                        field: 'material_name',
                        title: '物料名称',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'material_spec',
                        title: '物料规格',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'material_num',
                        title: '购入数量',
                        align: 'center',
                        sortable: true,
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.material_num;
                            });
                            return count.toFixed(2);
                        }
                    }, {
                        field: 'material_unit',
                        title: '物料单位',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'material_price',
                        title: '单价',
                        align: 'center',
                        sortable: true
                    }, {
                        field: 'material_all_price',
                        title: '总价',
                        align: 'center',
                        sortable: true,
                        footerFormatter: function (data) {
                            var count = 0;
                            $.each(data, function (index, item) {
                                count += item.material_all_price;
                            });
                            return count.toFixed(2);
                        }
                    },
                    //}, {
                    //    field: 'money_onoff',
                    //    title: '结款与否',
                    //    align: 'center',
                    //    sortable: true,
                    //    formatter: function (value, row, index) {
                    //        if (row.money_onoff == 0) {
                    //            return "<span style='color:red'>未结款</span>";

                    //        } else {
                    //            return "<span style='color:green'>已结款</span>";
                    //        }
                    //    }
                    //}, {
                    {
                        field: 'money_way',
                        title: '结款方式',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            if (row.money_way == 0) {
                                return "";

                            } else if (row.money_way == 1) {
                                return "月结";
                            } else if (row.money_way == 2) {
                                return "现金";
                            } else {
                                return "小额支付";
                            }
                        }
                    }]
            });
        });

        function Submit() {
            var list = $('#myTable').bootstrapTable('getSelections');
            if (list.length < 1) {
                swal("请选择要结款的单号!", "", "error");
            } else {
                $('#moneyModal').modal('show');
            }
        }

        function confirmTiShi() {
            var list = $('#myTable').bootstrapTable('getSelections');
            var confirm_time = $('#confirm_time').val();
            swal({
                title: "是否确认该结款 ?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是",
                cancelButtonText: "否",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {

                        var num = 0;
                        for (let i = 0; i < list.length; i++) {
                            $.ajax({
                                type: "POST",
                                url: "/Deliver/SupplierConfirm?id=" + list[i].id + "&comfirm_time=" + confirm_time+"",
                                async: false,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                data: {
                                    id: list[i].id,
                                    confirm_time: confirm_time
                                },
                                success: function (msg) {
                                    if (msg == "Success") {
                                        num += 1;
                                    }
                                },
                                error: function (msg) {
                                }
                            });
                        }
                        if (num == list.length) {
                            swal({ title: "结款成功 !", text: "共结款" + num + "项", type: "success" },
                                function () { Search(); });
                        } else if (num == 0) {
                            swal("执行失败 !", "", "error");
                        } else {
                            var er = list.length - num;
                            swal("执行失败 !", "共" + list.length + "笔数据，失败" + er + "笔", "error");
                        }

                    }
                    else {
                        swal("操作已终止 !", "该记录已保留 !", "error");
                    }
                });


        }
        function Search() {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var company_name = $("#company_name").val();
            var purchase_index = $("#purchase_index").val();
            var material_name = $("#material_name").val();
            var deliver_index = $("#deliver_index").val();
            var category = $("#category").val();
            var searchUrl = "/Deliver/GetSupplierData?start_time=" + start_time + "&end_time=" + end_time + "&company_name=" + company_name + "&purchase_index=" + purchase_index
                + "&material_name=" + material_name + "&deliver_index=" + deliver_index + "&category=" + category;
            $("#myTable").bootstrapTable('refresh', { url: searchUrl });
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Deliver/Index">物料购入管理</a></li>
                            <li class="active">供应商结款</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>购入单号：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="purchase_index" name="purchase_index" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                PurchaseManager PM = new PurchaseManager();
                                                List<string> deliverList = PM.SelectDeliverAll("2001-01-01", "2222-01-01").GroupBy(s => s.purchase_index).Select(s => s.Key).ToList();
                                                if (deliverList.Count > 0)
                                                {
                                                    for (int i = 0; i < deliverList.Count; i++)
                                                    {
                                                        <!option value="@deliverList[i]" @if (Model != null) { if (deliverList[i] == ViewBag.purchase_index) { <text> selected</text>}}>@deliverList[i]</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>供应商名称：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="company_name" name="company_name" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                CompanyManager CM = new CompanyManager();
                                                List<Company> objList = CM.SelectAll(type: 1);
                                                if (objList.Count > 0)
                                                {
                                                    for (int i = 0; i < objList.Count; i++)
                                                    {
                                                        <!option value="@objList[i].company_name" @if (Model != null) { if (objList[i].company_name == ViewBag.company_name) { <text> selected</text>}}>@objList[i].company_name</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>分类：</label>
                                        <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="category" name="category" style="padding:6px 50px">
                                            <option value=""></option>
                                            @{
                                                SettingManager SM = new SettingManager();
                                                List<Setting> sList = SM.SelectConfigList(2);
                                                if (sList.Count > 0)
                                                {
                                                    for (int i = 0; i < sList.Count; i++)
                                                    {
                                                        <!option value="@sList[i].config_list" @if (Model != null) { if (sList[i].config_list == ViewBag.category) { <text> selected</text>}}>@sList[i].config_list</!option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>物料名称：</label>
                                        <input id="material_name" name="material_name" type="text" class="form-control" value="@ViewBag.material_name" />
                                    </div>
                                    <div class="form-group">
                                        <label>送货单号：</label>
                                        <input id="deliver_index" name="deliver_index" type="text" class="form-control" value="@ViewBag.deliver_index" />
                                    </div>

                                </div>
                                <br />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>开始时间：</label>
                                        <input id="start_time" name="start_time" type="text" class="form-control" autocomplete="off" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="form-group">
                                        <label>结&nbsp;&nbsp;束&nbsp;时&nbsp;间：</label>
                                        <input id="end_time" name="end_time" type="text" class="form-control" autocomplete="off" style="width:220px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="card-body">
                            <div id="toolbar">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="button" value="查询" class="btn btn-primary" style="width:80px" onclick="Search()" />
                                    </div>

                                    <div class="form-group">
                                        <input type="button" value="确认结款" class="btn btn-primary" style="width:80px" onclick="Submit()" />
                                    </div>
                                </div>
                            </div>
                            <table id="myTable" class="table table-responsive table-hover ">
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->

    <div class="modal fade" id="moneyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确认结账</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txt_departmentname">结款时间</label>
                        <input type="text" class="form-control" style="width:100%" id="confirm_time" name="confirm_time" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmTiShi()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#vueApp',
            mounted() {
                var _self = this;
                _self.$nextTick(function () {
                    _self.$refs.SupplierIndex.parentNode.parentNode.classList.add("active");
                    _self.$refs.SupplierIndex.parentNode.parentNode.classList.add("open");
                    _self.$refs.SupplierIndex.classList.add("active");

                    setTimeout(function () {
                        setDataCardView("#myTable");
                    }, 500);
                })
            }
        })
    </script>
</body>
</html>


