@{
    @model IList<Model.Order>
    @using Model;
    @using BLL;

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar ul li:nth-of-type(4)").addClass("active open")
            $(".sidebar ul li:nth-of-type(4) ul li:nth-of-type(1)").addClass("active")
            if ($("#activation").prop("checked") == true) {
                document.getElementById("showTime").style.display = "block";
            } else {
                document.getElementById("showTime").style.display = "none";
            }
        });
        function deleteTiShi(order_id, seq_id) {
            swal({
                title: "确定删除 ?",
                text: "删除后将无法恢复 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                cancelButtonText: "取消",
                closeOnConfirm: false,//true表示不需要点击确认,fasle需要点击确认后再关闭对话框
                closeOnCancel: false //true表示不需要点击确认,fasle需要点击确认后再关闭对话框
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/OrderSeq/Del?order_id="+order_id+"&seq_id="+seq_id+"",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                order_id: order_id, seq_id: seq_id
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "已删除 !", text: "该条记录已删除 !", type: "success" },
                                        function () { window.location.href = '/OrderSeq/Index?order_id=' + order_id+''; });
                                }
                                else {
                                    swal("执行失败 !", "该记录已保留 !", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败 !", "该记录已保留 !", "error");
                            }
                        });
                    }
                    else {
                        swal("已取消 !", "该记录已保留 !", "error");
                    }
                });
        }
        function active()
        {
            if ($("#activation").prop("checked") == true) {
                document.getElementById("showTime").style.display = "block";
            }
            else
            {
                document.getElementById("showTime").style.display = "none";
                window.location.href = '/OrderSeq/Index?order_id=@ViewBag.order_id';

            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/Order/Index">订单管理</a></li>
                            <li class="active">订单列表</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>订单详情</h4>
                        </div>
                    <br />
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">订单号：</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" value="@ViewBag.order_index" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">客户订单号：</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" value="@ViewBag.company_order_index" disabled="disabled" />
                                    </div>
                                    <label class="col-sm-2 control-label">公司名称：</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" value="@ViewBag.company_name" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <form class="form-horizontal" action="/OrderSeq/Index?order_id=@ViewBag.order_id" method="post" id="myfrom">
                                <input type="hidden" value="@ViewBag.order_id" id="order_id" name="order_id" />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>下单明细：</label>
                                        <input id="order_name" name="order_name" type="text" class="form-control" style="height:36px" value="@ViewBag.order_name" />
                                    </div>
                                    @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                    {
                                        <div class="form-group">
                                            <label>需求单位：</label>
                                            <input id="unit" name="unit" type="text" class="form-control" style="height:36px" value="@ViewBag.unit" />
                                        </div>
                                    }
                                    <div class="checkbox">
                                        <label>
                                            <input id="activation" name="activation" type="checkbox"  onclick="active()" @if (ViewBag.activation=="on") { <text>checked="checked"</text>} />
                                            送货时间查询激活
                                        </label>
                                    </div>

                                </div>
                                <br />
                                <div class="form-inline">
                                    <div id="showTime" style="display:none">
                                        <div class="form-group">
                                            <label>开始时间：</label>
                                            <input id="start_time" name="start_time" type="text" class="form-control" style="height:36px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.start_time" />
                                        </div>
                                        <div class="form-group">
                                            <label>结束时间：</label>
                                            <input id="end_time" name="end_time" type="text" class="form-control" style="height:36px" onclick="WdatePicker({ skin: 'whyGreen',dateFmt:'yyyy-MM-dd' })" value="@ViewBag.end_time" />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="submit" value="查询" class="btn btn-primary" style="width:80px" />
                                    </div>
                                    <div class="form-group">
                                        @*@if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <input type="button" value="新增" class="btn btn-primary" style="width:80px" onclick="window.location.href = '/OrderSeq/Edit?order_id=@ViewBag.order_id'" />
                                        }*@

                                    </div>
                                </div>
                                <br />


                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive table-hover ">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>下单明细</th>
                                        <th>下单数量</th>
                                        <th>下单时间</th>
                                        <th>需求出货时间</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>单价</th>
                                            <th>订单总价</th>
                                            <th>客户采购员</th>
                                            <th>需求单位</th>
                                        }
                                        <th>已开单数</th>
                                        <th>退单数量</th>
                                        <th>剩余数量</th>
                                        <th>图纸</th>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <th>编辑</th>
                                        }
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <th>删除</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int index = 1;
                                    foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.order_name</td>
                                        <td>@item.order_num</td>
                                        <td>@item.order_time.ToString("yyyy-MM-dd")</td>
                                        <td>@item.deliver_time.ToString("yyyy-MM-dd")</td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>@item.order_price</td>
                                            <td>@item.order_all_price</td>
                                            <td>@item.purchase_person</td>
                                            <td>@item.unit</td>
                                        }
                                        <td style="color:darkseagreen">@item.open_num</td>
                                        <td style="color:red">@item.tui_num</td>
                                        <td style="color:orange">@item.remain_num</td>
                                        <td>
                                        @if (!string.IsNullOrEmpty(item.order_picture))
                                        {
                                            <a href="/src/Files/@item.order_picture" target="_blank">查看</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:return false;" target="_blank">暂无图纸</a>
                                        }
                                        </td>
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.ProductManager)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="window.location.href = '/OrderSeq/Edit?order_id=@ViewBag.order_id&seq_id=@item.seq_id'" value="编辑" />
                                            </td>
                                        }
                                        @if (UserManager.Current.GetLevel >= UserLevelEnum.Boss)
                                        {
                                            <td>
                                                <input type="button" class="btn btn-primary" onclick="deleteTiShi(@ViewBag.order_id,@item.seq_id)" value="删除" />
                                            </td>
                                        }

                                    </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->
</body>
</html>


